<section class="row">
    <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content">
            <% if (!page.skipBacklink && page.parent) { %>
                <a href="../index.html" class="backlink">Naar <%= page.parent %></a>
            <% } %>

            <header class="content__header">
                <% if(page.fulltitle) {%>
                <h1 class="content__header-title"><%= page.fulltitle %></h1>
                <% } else {%>
                <h1 class="content__header-title"><%= page.title %></h1>
                <% } %>

                <% if(page.subtitle) {%>
                <h2><%= page.subtitle %></h2>
                <% } %>

                <% if(page.newsdate || page.tags) { %>
                <div class="meta">
                    <% if(page.newsdate) {%>
                    <time class="meta__date"><%= date(page.newsdate, 'D MMM YYYY')%></time>,
                    <% } %>
                    <% if(page.tags) {%>
                    <span class="meta__tags"><%= page.tags %></span>
                    <% } %>
                </div>
                <% } %>

                <% if(page.intro) {%>
                    <p class="content__header-paragraph"><%- (page.intro) %></p>
                <% } %>

                <% if(page.inpagenav) {%>
                <ol class="content__header-inpage list list--decimal list--decimal-with-dot columns">
                    <% for (var link of site.data.inpage.pages) { %>
                        <% if (page.permalink == link.url) { %>
                        <li><%= link.title %></li>

                        <% } else { %>
                        <li><a href="<%= link.url %>"><%= link.title %></a></li>
                        <% } %>
                    <% } %>
                </ol>
                <% } %>
            </header>
        </div>
    </div>
</section>