<nav class="top-nav" id="docs-nav">
    <div class="container">
        <div class="top-nav__block top-nav-autoresize">
            <ul class="nav">
                <li class="nav__item">
                    <a href="<%- url_for('/') %>" title="Home" class="nav__link <% if(is_current('/')) { %>nav__link--active<% } %> ">
                        <i class="icon icon-home" role="presentation"></i>
                        <span>NL Design System</span>
                    </a>
                </li>
                <% for (var cat of site.data.menu.pages) { %>
                <li class="nav__item"><a class="nav__link <% if(is_current(cat.url)) { %>nav__link--active<% } %>" href="<%- url_for(cat.url) -%>"><%= cat.title %></a></li>
                <% } %>
            </ul>
        </div>
    </div>

</nav>
