<% if(page.showNotification) { %>
<div class="notification notification--wide notification--info">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="notification__content">
                    <div class="notification__type">TER INFORMATIE</div>
                    <h2 class="notification__title">Voor de veiligheid</h2>
                    <span>Vanwege de veiligheid sturen we u het wachtwoord en tokengenerator in 2 aparte enveloppen.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>