---
title: Aan de slag
layout: content-page
permalink: aan-de-slag/pagina-opbouw.html
skipBacklink: true
inpagenav: true
additionalStyles: [
  'uno/components/navigation/inpage.css'
]
---


<h1>Pagina opbouw</h1>
<p>Hier komt een stukje tekst over de pagina opbouw.</p>

<h2>Wrapper</h2>
<p>Elke pagina begint met een <code>&lt;div class="wrapper"&gt;</code>. Alle inhoud van
de pagina bevindt zich binnen deze <span lang="en-US">wrapper</span></p>

<h2>Breedte</h2>
<p>De breedte van de <span lang="en-US">content</span> wordt zo ingesteld, zodat de regellengte maximaal
600&nbsp;pixels is. Dit wordt bereikt door verschillende <code>.col-{screensize}</code>
toe te passen.<br/>
Door een <code>.col-<em>xx</em>-offset-<em>##</em></code> op de div te zetten
wordt het <span lang="en-US">content</span> blok worden gecentreerd op de pagina.</p>
<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1"&gt;
        &lt;div class="content-background"&gt;
            &lt;div class="content"&gt;
                &lt;p&gt;Inhoud van de pagina&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>

<h2>Main</h2>
<p>Zet alle <span lang="en-US">content</span> van een pagina (alle zaken behalve het DUO logo, de navigatie en de <span lang="en-US">footer</span>) in een <code lang="en-US">main</code> element.
    De <span lang="en-US">main</span> heeft een minimale hoogte van 70vh (70% van de <span lang="en-US">view height</span>). Als je teveel zaken buiten de <span lang="en-US">main</span> zet heb je kans dat er zaken buiten beeld gedrukt worden.</p>
<p>Zorg er wel voor dat niet meer dan één <code lang="en-US">main</code> element per pagina is. <span lang="en-US">Screenreaders</span> verwachten ook maar één keer een <span lang="en-US">main</span> per pagina, namelijk het stuk waar de pagina over gaat.</p>
<p>Meestal zal een <code lang="en-US">skiplinks</code> ook verwijzen naar de <span lang="en-US">main</span>.</p>
<pre><code>
&lt;main class=&quot;skiplink-target main&quot; id=&quot;content&quot; tabindex=&quot;-1&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        [content bijvoorbeeld intro]
    &lt;/div&gt;
&lt;/main&gt;
</code>
</pre>

<h2>Achtergrondkleur</h2>

<p>De inhoud van de pagina wordt weergegeven op een witte achtergrond, dit
wordt bereikt door het <code>.content</code> blok in een
<code>&lt;div class="content-background"&gt;</code> te plaatsen.</p>
<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1"&gt;
        &lt;!-- Geeft deze content een achtergrond --&gt;
        &lt;div class="content-background"&gt;
            &lt;div class="content"&gt;
                &lt;p&gt;Inhoud van de pagina&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h3>Alternatieve achtergrond kleur</h3>

<p>De achtergrond
    kan gewijzigd door een extra <span lang="en-US">class</span> toe te voegen <code>.background-{<em><a href="../core/colors/index.html">rijkshuisstijl kleur</a></em>}</code>.
    Gebruik dit alleen voor bijvoorbeeld een <span lang="en-US">link list</span>, niet voor tekst blokken.</p>

<h2>Content</h2>
<p>Een pagina bestaat altijd uit <code>.content</code> blokken. Binnen de contentvlak kun je de pagina beginnen met een intro <code>.content__header</code></p>

<h3>Content Header</h3>
<p>De meeste pagina's beginnen met een intro. Deze bevat de titel van de pagina
    met een korte introductie. De titel & de introductie paragraaf worden geplaatst
    in een <code lang="en-US">header</code> element met de class <code>.content__header</code>.
    Het intro blok bevat ook de eventuele <code>.backlink</code>.</p>
    <pre><code>&lt;section class="row"&gt;
        &lt;div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1"&gt;
            &lt;div class="content"&gt;
                &lt;a href="#" class="content__header-backlink backlink"&gt;Terug&lt;/a&gt;
                &lt;header class="content__header"&gt;
                    &lt;h1 class="content__header-title">Titel&lt;/h1&gt;
                    &lt;p class="content__header-paragraph"&gt;Intro&lt;/p&gt;
                &lt;/header&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/section&gt;
    </code></pre>
    
<h3>Titel met subtitel</h3>
<p>De subtitel is <em>geen</em> <code>&lt;h2&gt;</code> maar een gewone paragraaf</p>
<blockquote class="quote">
    <span lang="en-US">
        <code>h1–h6</code> elements must not be used to markup subheadings,
        subtitles, alternative titles and taglines unless intended to be the
        heading for a new section or subsection.
    </span>

    <span class="meta">– W3</span><br>
    <a href="https://www.w3.org/TR/html5/common-idioms.html" title="Lees meer">Lees meer over html5</a>
</blockquote>


<div class="example">
    <header class="content__header">
        <h1 class="content__header-title">Titel van de pagina</h1>
        <p class="subheading">Subtitel van de pagina</p>
        <p class="content__header-paragraph">Eventuele introductie text</p>
    </header>
</div>

<h3>Titel met meta informatie</h3>

<div class="example">
    <header class="content__header">
        <h1 class="content__header-title">Terugmeldingen 2e voorlopige foto
            2015 mbo vavo beschikbaar</h1>
        <ul class="meta">
            <li class="meta__item">9 Maart 2016</li>
            <li class="meta__item">Leerlingenadministratie</li>
        </ul>
    </header>
</div>

<h3>Titel met voortgangsindicatie</h3>

<div class="example">
    <header class="content__header">
        <h1 class="content__header-title">Contactgegevens instelling</h1>
        <p class="meta meta--progress">Stap 1 van 4 – Eerste opvang nieuwkomers VO</p>
    </header>
</div>

<h3>Extra kolom witruimte</h3>
<p>Op grotere schermen kan het wenselijk zijn een extra kolom witruimte aan de linker
en rechter kant van het content vlak toe te voegen. Hiervoor moet op de <code lang="us-EN">body</code>
<span lang="en-US">tag</span> een <span lang="en-US">class</span> worden toegevoegd <code>.theme--large-padding</code>.</p>

<h3>Minder witruimte</h3>
<p>Voor o.a. medewerkersschermen kan het juist wenselijk zijn om minder witruimte
tussen de verschillende content blokken te hebben. Voeg hiervoor de <span lang="en-US">modifier</span>
<code>.content--compact</code> toe aan het <code>.content</code> blok. De witruimte
bovenaan het <span lang="en-US">content</span> vlak wordt hiermee verkleind. Deze <span lang="en-US">modifier</span> kan <em>niet</em> worden
gebruikt in combinatie met <code>.theme--large-padding</code>.</p>

<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-xs-12 col-lg-10 col-lg-offset-1"&gt;
        &lt;div class="content-background"&gt;
            &lt;div class="content content--compact"&gt;
                &lt;h2&gt;Externe identifiers&lt;/h2&gt;
                &lt;table class="table table--striped"&gt;
                    &lt;thead&gt;
                        &lt;tr&gt;
                            &lt;th&gt;Type&lt;/th&gt;
                            &lt;th&gt;Inhoud&lt;/th&gt;
                            &lt;th&gt;Begindatum&lt;/th&gt;
                            &lt;th&gt;Einddatum&lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td&gt;ONDERWIJSAANBIEDER_ID&lt;/td&gt;
                            &lt;td&gt;100A001&lt;/td&gt;
                            &lt;td&gt;02-02-2002&lt;/td&gt;
                            &lt;td&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<h3><span lang="en-US">Content</span> uitvullen</h3>
<p>De <span lang="en-US">padding</span> aan de linker en rechter zijde van <span lang="en-US">content</span> blokken kan worden verwijderd
door de <span lang="en-US">modifier</span> <code>.content--wide</code> toe te passen. Tabellen en componenten
worden dan strak tegen de rand van het <span lang="en-US">content</span> vlak geplaatst</p>

<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-xs-12 col-lg-10 col-lg-offset-1"&gt;
        &lt;div class="content-background"&gt;
            &lt;div class="content content--wide"&gt;
                &lt;h2&gt;Externe identifiers&lt;/h2&gt;
                &lt;table class="table table--striped"&gt;
                    &lt;thead&gt;
                        &lt;tr&gt;
                            &lt;th&gt;Type&lt;/th&gt;
                            &lt;th&gt;Inhoud&lt;/th&gt;
                            &lt;th&gt;Begindatum&lt;/th&gt;
                            &lt;th&gt;Einddatum&lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td&gt;ONDERWIJSAANBIEDER_ID&lt;/td&gt;
                            &lt;td&gt;100A001&lt;/td&gt;
                            &lt;td&gt;02-02-2002&lt;/td&gt;
                            &lt;td&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<div class="prev-next">
    <a href="../aan-de-slag/document-structuur.html" class="prev-next__prev">
        <span class="prev-next__meta">VORIGE</span>
        <span class="prev-next__text">3. Documentstructuur</span>
    </a>
</div>