---
layout: sidenav-page
title: Chart
permalink: componenten/donutchart/
styles: [
    'uno/components/donut-chart/donut-chart.css'
]
additionalStyles: [
    'uno/components/label/label.css',
    'uno/components/table/table.css',
]
---
<p>
    De donut chart maakt gebruik van een HTML canvas om de chart te kunnen tekenen. 
    Om de donut chart te tekenen, instantieer je de DonutChart class en zet je vervolgens 
    de waarde (als percentage zonder procentteken). Wanneer je de <code>draw()</code> functie
    op de donut chart aanroept, zal de chart getekend worden.
</p>

<div class="example">
    <div class="donut-chart" id="example-donut-chart">
        <h3 class="donut-chart__title">Overgebleven leenruimte studiejaar 2018/2019</h3>
        <div class="donut-chart__chart">
            <canvas class="donut-chart__canvas"></canvas>
            <div class="donut-chart__inner">€ 2.000,00</div>
        </div>
        <span class="donut-chart__subtitle">over van € 10.000,00</span>
    </div>
    <div class="js-example">
        <pre><code>&lt;script&gt;
            System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
                var donutChart = new module.DonutChart(document.getElementById('example_donut-chart'));
                donutChart.value = 80;
                donutChart.draw();
            });
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h2>Donut chart kleuren</h2>

<p>
    De donut chart wordt standaard getekend met de kleur <code>#007bc7</code> (Hemelblauw).
    Om deze kleur te veranderen kun je een modifier class met één van de andere huisstijl
    kleuren meegeven, bijvoorbeeld <code>donut-chart--groen</code>. Het gevulde deel van de 
    chart, alsook de subtitle en de tekst binnen de chart krijgen dan deze kleur. Het niet 
    gevulde deel van van de chart is altijd een 20% transparantie van de hoofdkleur.
</p>

<div class="example">
    <div class="donut-chart donut-chart--groen" id="example-donut-chart-color">
        <h3 class="donut-chart__title">Overgebleven leenruimte studiejaar 2018/2019</h3>
        <div class="donut-chart__chart">
            <canvas class="donut-chart__canvas"></canvas>
            <div class="donut-chart__inner">€ 2.500,00 </div>
        </div>
        <span class="donut-chart__subtitle">over van € 10.000,00</span>
    </div>
    <div class="js-example">
        <pre><code>&lt;script&gt;
            System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
                var donutChart = new module.DonutChart(document.getElementById('example_donut-chart'));
                donutChart.value = 80;
                donutChart.draw();
            });
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h2>Donut chart met kleine text</h2>

<p>
    In sommige situaties kan het handig zijn om  een iets kleinere text met verduidelijking
    in de donut chart te hebben staan. Met de modifier <code>donut-chart__inner--small</code> 
    op een element in het <code>donut-chart__inner</code> element kun je de tekst verkleinen.
</p>

<div class="example">
    <div class="donut-chart" id="example-donut-chart-small">
        <h3 class="donut-chart__title">Overgebleven leenruimte studiejaar 2018/2019</h3>
        <div class="donut-chart__chart">
            <canvas class="donut-chart__canvas"></canvas>
            <div class="donut-chart__inner">
                24
                <div class="donut-chart__inner--small">maanden</div>
            </div>
        </div>
        <span class="donut-chart__subtitle">over van 48 maanden</span>
    </div>
    <div class="js-example">
        <pre><code>&lt;script&gt;
            System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
                var donutChartSmall = new module.DonutChart(document.getElementById('example_donut-chart-small'));
                donutChartSmall.value = 50;
                donutChartSmall.draw();
            });
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h3>Javascript API</h3>
<h4 lang="en-US">Constants</h4>
<table class="table table--striped">
    <thead>
        <tr>
            <th>Constant</th>
            <th>Waarde</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>INNER_COLOR</code></td>
            <td><code>#ffffff</code></td>
        </tr>
        <tr>
            <td><code>GLOBAL_ALPHA_OPACITY</code></td>
            <td><code>0.2</code></td>
        </tr>
    </tbody>
</table>
<p/>

<h4>Publieke eigenschappen</h4>

<table class="table table--striped">
    <thead>
        <tr>
            <th>Eigenschap</th>
            <th>Type</th>
            <th>Omschrijving</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>value</code></td>
            <td><span class="label label--groen" lang="en-US">number</span> </td>
            <td>Percentage van de donut chart dat gevuld moet worden.</td>
        </tr>
    </tbody>
</table>
<p/>
<h4>Publieke methodes</h4>

<table class="table table--striped">
    <thead>
        <tr>
            <th>Methode</th>
            <th>Omschrijving</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>draw()</code></td>
            <td>Draw de donut chart.</td>
        </tr>
        <tr>
            <td><code>destroy()</code></td>
            <td>Destroy de donut chart.</td>
        </tr>
    </tbody>
</table>

<script>
    System.import('../../uno/components/donut-chart/donut-chart.js').then(function (module) {
        var donutChart = new module.DonutChart(document.getElementById('example-donut-chart'));
        donutChart.value = 80;
        donutChart.draw();

        var donutChartColor = new module.DonutChart(document.getElementById('example-donut-chart-color'));
        donutChartColor.value = 75;
        donutChartColor.draw();

        var donutChartSmall = new module.DonutChart(document.getElementById('example-donut-chart-small'));
        donutChartSmall.value = 50;
        donutChartSmall.draw();
    });
</script>
