---
layout: sidenav-page
title: File
permalink: componenten/file/
styles: [
	'uno/components/list/list-files.css',
]
additionalStyles: [
	'uno/components/form/file.css',
]
---

<p>Een enkel bestand of lijst van bestanden voor uploaden of downloaden.</p>
<h2>Bestandslijsten</h2>
<p>Maak bij downloaden de bestandsnaam klikbaar<br/>
	Voeg bij lange bestandsnamen zonder spaties de <span lang="en-US">class</span> <code>break-all</code> toe
	aan de titel, zodat deze op elk willekeurig karakter kan afbreken</p>

<div class="example" id="example-files">
	<ul class="list list--files">
		<li class="file">
			<i class="file__icon icon icon-document"></i>

			<div class="file__data">
				<div class="file__filename">
					<strong class="file__title break-all">c50bed25.jpg</strong>
					<span class="meta">JPG, 396.05 kB</span>
				</div>
				<button class="btn btn--link file__button">Verwijder</button>
			</div>
		</li>
		<li class="file">
			<i class="file__icon icon icon-document"></i>
			<div class="file__data">
				<div class="file__filename">
					<strong class="file__title break-all">formulier.pdf</strong>
					<span class="meta">PDF, 1.05 mB</span>
				</div>
				<button class="btn btn--link file__button">Verwijder</button>
			</div>
		</li>
	</ul>
</div>


<h2>Los bestand</h2>
<p>Om bijvoorbeeld te gebruiken in een tabel</p>
<div class="example" id="example-file">
	<div class="file">
		<i class="file__icon icon icon-document"></i>
		<div class="file__data">
			<div class="file__filename">
				<strong class="file__title break-all">c50bed25.jpg</strong>
				<span class="meta">JPG, 396.05 kB</span>
			</div>
		</div>
	</div>
</div>