---
layout: sidenav-page
title: Form
parent: Components
permalink: componenten/form/
styles: [
    'uno/components/button/button.css',
    'uno/components/form/form.css',
    'uno/components/form/input.css',
    'uno/components/form/file.css',
    'uno/components/form/checkbox.css',
    'uno/components/label/label.css'
]
additionalStyles: [
    'uno/components/hint/hint.css',
    'uno/components/list/list-files.css',
    'uno/components/meta/meta.css'
]
---

<p>Elk veld in een formulier bestaat uit een <code>.input</code> met een
<code>.input__label</code> en een <code>.input__control</code>. De <span lang="en-US">input</span> heeft een id
nodig, het <code>label</code> element verwijst naar dat id met het <code>for</code>
attribuut.</p>
<p>Voeg de <span lang="en-US">class</span> <code>.input--invalid</code> toe aan invalide velden.<br/>
Eventuele <span lang="en-US">errors</span> worden in een <code>.input__error</code> blok getoond, tussen
het label en de <span lang="en-US">input</span>.</p>
<p>Extra aanwijzingen kunnen in een <code>.input__hint</code> geplaatst worden. Voorzie
de hint ook van een ID, en verwijs in de <span lang="en-US">input</span> met het attribuut <code>aria-describedby</code>
naar dat ID. Op die manier kan een <span lang="en-US">screenreader</span> ook de relatie tussen de <span lang="en-US">input</span> en
de hint leggen.</p>


<div class="hint">
    <span class="hint__title">Verder knop</span>
<p>Gebruik als verder knop een <code>button</code> tag ipv een <code>&lt;input type="submit"&gt;</code>.
Internet Explorer rendert de pagina niet goed wanneer je een <code>input</code> <span lang="en-US">tag</span> gebruikt.</p>
</div>

<h3>HTML5 <span lang="en-US">input types</span></h3>

<p>Gebruik waar mogelijk de HTML5 <span lang="en-US">input types (number, email)</span>, met uitzondering van het type <code>date</code>.
Kijk voor de mogelijkheden op <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input" rel="external">MDN</a>.</p>

<div class="example" id="example-form">
    <form method="post" action="#">
        <div class="input input--invalid">
            <label class="input__label" for="name">Naam beheerder <span class="label label--optional">optioneel</span> </label>
            <span class="input__hint" id="hint_name">Bijvoorbeeld Frank Masmeijer</span>
            <div class="input__error">U heeft het veld Naam beheerder nog niet ingevuld</div>
            <input required type="text" id="name" aria-describedby="hint_name" class="input__control input__control--text input__control--large" />
        </div>

        <div class="input">
            <label class="input__label" for="brin">BRIN-nummer</label>
            <input type="text" id="brin" class="input__control input__control--m input__control--text" />
            <button class="btn">Gegevens ophalen</button>
        </div>

        <div class="input">
            <label class="input__label" for="color">Kleur</label>
            <select id="color" class="input__control input__control--m input__control--select ">
                <option>Hemelblauw</option>
                <option>Mosgroen</option>
                <option>Robijnrood</option>
            </select>
        </div>

        <div class="input input--search">
            <label class="input__label" for="search">Zoeken</label>
            <div class="input__control-group">
                <input type="search" id="search" class="input__control input__control--m input__control--search" />
                <button class="btn btn--icon"  title="Zoeken"><i class="icon icon-magnifier" role="presentation"></i></button>
            </div>
        </div>

        <div class="input">
            <label class="input__label" for="email">E-mailadres</label>
            <input required type="email" id="email" class="input__control input__control--text" />
        </div>

        <div class="input">
            <label class="input__label">Geboortedatum</label>

            <div class="input__control-group">
                <div>
                    <label class="input__hint" for="date_of_birth-d">dag</label>
                    <input aria-label="Geboortedag" title="Geboortedag" required type="number" min="1" max="31" id="date_of_birth-d" class="input__control input__control--two-characters input__control--linked input__control--text">
                </div>
                <div>
                    <label class="input__hint" for="date_of_birth-m">maand</label>
                    <input aria-label="Geboortemaand" title="Geboortemaand" required type="number" min="1" max="12" id="date_of_birth-m" class="input__control input__control--two-characters input__control--linked input__control--text">
                </div>
                <div>
                    <span class="input__hint" for="date_of_birth-y">jaar</span>
                    <input aria-label="Geboortejaar" title="Geboortejaar" required type="number" id="date_of_birth-y" class="input__control input__control--four-characters input__control--linked input__control--text">
                </div>
            </div>
        </div>

        <div class="input">
                <label class="input__label">Adres</label>
    
                <div class="input__control-group">
                    <div>
                        <label class="input__hint" for="address_postal_code">postcode</label>
                        <input aria-label="Postcode" title="Postcode" required type="text" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="address_postal_code" class="input__control input__control--six-characters input__control--text">
                    </div>
                    <div>
                        <label class="input__hint" for="address_number">huisnummer</label>
                        <input aria-label="Huisnummer" title="Huisnummer" required type="number" minlength="1" maxlength="5" id="address_number" class="input__control input__control--five-characters input__control--text">
                    </div>
                    <div>
                        <span class="input__hint" for="address_number-addition">toevoeging</span>
                        <input aria-label="Toevoeging" title="Toevoeging" required type="text" maxlength="5" id="address_number-addition" class="input__control input__control--five-characters input__control--text">
                    </div>
                </div>
            </div>

        <div class="input">
            <label class="input__label" for="disabled">Uitgeschakeld veld</label>
            <input disabled type="text" id="disabled" class="input__control input__control--m input__control--text" value="disabled text" />
        </div>

        <div class="input">
            <label class="input__label" for="textarea_voorbeeld">Tekstveld</label>
            <textarea id="textarea_voorbeeld" class="input__control input__control--m input__control--text"></textarea>
        </div>

        <div class="input">
            <button type="submit" class="btn btn--primary">Verder</button>&nbsp;&nbsp;of naar de <a href="#">vorige stap</a>
        </div>

    </form>
</div>

<h2>Bestanden upload</h2>
<p>Voor het uploaden van bestanden biedt Uno alleen de <span lang="en-US">styling</span> van de componenten.
    Het afhandelen van de upload is afhankelijk van de gekozen techniek.</p>
<p>De gekozen bestanden worden getoond in een <code>.list-files</code>(meerdere bestanden) of <code>.list-file</code> bij enkele bestanden.<br/>
Vermeld in de <code lang="en-US">title</code> van de verwijder knop ook de bestandsnaam</p>

<p>Door het attribuut <code lang="en-US">multiple</code> op de <span lang="en-US">input</span> te plaatsen, kunnen er
meerdere bestanden tegelijk geupload worden. Het is aan te raden de gekozen bestanden
in javascript bij te houden, aangezien deze lijst wordt overschreven zodra de
gebruiker weer op 'Bestand uploaden' klikt en een ander bestand kiest.</p>

<div class="example" id="example-upload">
    <form method="post" action="#">
        <ul class="list list--files">
            <li class="file">
                <i class="file__icon icon icon-document" role="presentation"></i>
                <div class="file__data">
                    <div class="file__filename">
                        <strong class="file__title break-all">c50bed25.jpg</strong>
                        <span class="meta">JPG, 396.05 kB</span>
                    </div>
                    <button class="btn btn--link file__button" title="Verwijder c50bed25.jpg">Verwijder</button>
                </div>
            </li>

            <li class="file">
                <i class="file__icon icon icon-document" role="presentation"></i>

                <div class="file__data">
                    <div class="file__filename">
                        <strong class="file__title break-all">formulier.pdf</strong>
                        <span class="meta">PDF, 1.05 mB</span>
                    </div>
                    <button class="btn btn--link file__button" title="Verwijder formulier.pdf">Verwijder</button>
                </div>
            </li>
        </ul>

        <div class="input input--invalid">
            <span class="input__hint" id="input-upload-hint">Toegestane bestanden: PDF, Word, afbeeldingen. Maximale bestandsgrootte 5mB</span>
            <div class="input__error">
                Eventuele foutmeldingen worden <em>onder</em> de bestanden getoond.
            </div>
            <label>
                <input type="file" class="input__control--file" multiple aria-describedby="input-upload-hint">
                <span class="btn" role="button">Bestand uploaden</span>
            </label>
        </div>

        <div class="hidden hidden--for-a11y">
            <!-- Puur om de a11y test te doorstaan -->
            <input type="submit" value="submit" />
        </div>
    </form>
</div>

<div class="example" id="example-upload-file">
	<form method="post" action="#">
        <div class="file">
            <i class="file__icon icon icon-document" role="presentation"></i>
            <div class="file__data">
                <div class="file__filename">
                    <strong class="file__title break-all is-h4">c50bed25.jpg</strong>
                    <span class="meta">JPG, 396.05 kB</span>
                </div>
                <button class="btn btn--link file__button" title="Verwijder c50bed25.jpg">Verwijder</button>
            </div>
        </div>

		<div class="hidden hidden--for-a11y">
			<!-- Puur om de a11y test te doorstaan -->
			<input type="submit" value="submit" />
		</div>
	</form>
</div>

<h2><span lang="en-US">input</span> groottes</h2>
<p>Stem het formaat van een <span lang="en-US">input</span> af op de te verwachten inhoud. Een veld voor
een postcode hoeft niet 100% van de beschikbare breedte in te nemen. Met de
verschillende <span lang="en-US">modifiers</span> kan een input vergroot / verkleind worden.</p>

<div class="example" id="example-form-sizes">
    <form class="form">
        <div class="input input--text">
            <label class="input__label" for="input-xs">.input__control--xs</label>
            <input id="input-xs" type="text" class="input__control input__control--xs input__control--search">
        </div>

        <div class="input input--text">
            <label class="input__label" for="input-s">.input__control--s</label>
            <input id="input-s" type="text" class="input__control input__control--s input__control--search">
        </div>

        <div class="input input--text">
            <label class="input__label" for="input-m">.input__control--m</label>
            <input id="input-m" type="text" class="input__control input__control--m input__control--search">
        </div>

        <div class="input input--text">
            <label class="input__label" for="input-l">.input__control--l</label>
            <input id="input-l" type="text" class="input__control input__control--l input__control--search">
        </div>

        <div class="input input--text">
            <label class="input__label" for="input-xl">.input__control--xl</label>
            <input id="input-xl" type="text" class="input__control input__control--xl input__control--search">
        </div>

        <div class="hidden hidden--for-a11y">
            <!-- Puur om de a11y test te doorstaan -->
            <input type="submit" value="submit" />
        </div>
    </form>
</div>

<h2>Horizontale uitlijning labels</h2>
<p>Voor medewerkersschermen bestaat er ook de mogelijkheid om de labels voor het inputveld te plaatsten.
gebruik hiervoor de <span lang="en-US">class</span> <code>input--horizontal</code>.

<p>Deze variant gebruiken we alleen voor medewerkersschermen. Voor
klantschermen gebruik je altijd de variant met het label erboven. We willen
klanten door schermen heen leiden en hanteren het principe van één vraag per
pagina. Medewerkers willen vaak een overzicht van alle gegevens, daarom mag je
daar van dit principe afwijken. Om te voorkomen dat <code>input--horizontal</code>
per abuis op klantschermen terecht komt, werkt de modifier alleen als de
<code>.theme--xxl-breakpoint</code> aan de body is meegegeven.</p>

<div class="example example--theme-xxl" id="example-form-sizes">
    <form class="form">
        <div class="input input--horizontal">
            <div>
                <label class="input__label" for="name">Naam beheerder</label>
            </div>
            <input required type="text" id="name" aria-describedby="hint_name" class="input__control input__control--text input__control--l" />
        </div>

        <div class="input input--horizontal">
            <div>
                <label class="input__label" for="name">Naam beheerder <span class="label label--optional">optioneel</span> </label>
                <span class="input__hint" id="hint_name">Bijvoorbeeld Frank Masmeijer</span>
            </div>
            <input required type="text" id="name" aria-describedby="hint_name" class="input__control input__control--text input__control--l" />
        </div>

        <div class="input input--invalid input--horizontal">
            <div>
                <label class="input__label" for="name">Naam beheerder <span class="label label--optional">optioneel</span> </label>
                <span class="input__hint" id="hint_name">Bijvoorbeeld Frank Masmeijer</span>
            </div>
            <div class="input__error">U heeft het veld Naam beheerder nog niet ingevuld</div>
            <input required type="text" id="name" aria-describedby="hint_name" class="input__control input__control--text input__control--l" />
        </div>
    </form>
</div>
