---
layout: sidenav-page
title: Hint
parent: Components
permalink: componenten/hint/
styles: [
    'uno/components/hint/hint.css'
]
---

<p>Een hint kan gebruikt worden om aanvullende informatie weer te geven</p>
<div class="example">
    <aside class="hint">
        <h2 class="hint__title">Titel van de hint</h2>
        Humani generiss sunt dominas de nobilis compater.
        Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
    </aside>
</div>