---
layout: sidenav-page
title: Images
permalink: componenten/images/
intro: Afbeeldingen kunnen met een extra css klasse <span lang="en-US">responsive</span> gemaakt worden.
styles: [
    'uno/components/images/images.css'
]
---
<h2>Afbeeldingen</h2>
<p>Voor afbeeldingen kan de standaard <code>img</code> <span lang="en-US">tag</span> gebruikt worden. Voorzie
de <span lang="en-US">tag</span> altijd van een <code>alt</code> attribuut, zodat visueel beperkten ook
kunnen achterhalen waar de afbeelding voor dient.<br/>
Geef daarnaast bij voorkeur de <code lang="en-US">width</code> mee, zodat een browser alvast
ruimte kan reseveren voor de afbeelding.</p>
<h3>Responsive afbeeldingen</h3>
<p>Responsive afbeeldingen passen hun breedte aan op kleinere schermen</p>

<div class="example">
    <img src="../../images/sample.jpg" class="responsive" width="900" alt="Studenten" />
</div>
