---
layout: sidenav-page
title: Labels & badges
parent: Components
permalink: componenten/label/
styles: [
    'uno/components/label/label.css',
    'uno/components/label/badge.css'
]
---

<h2>Labels</h2>
<p>De labels zijn beschikbaar in de kleuren van de rijkshuisstijl</p>

<div class="example example--transparent" id="example-labels">
    <span class="label label--wit">wit</span>
    <span class="label label--zwart">zwart</span>
    <span class="label label--violet">violet</span>
    <span class="label label--roze">roze</span>
    <span class="label label--rood">rood</span>
    <span class="label label--robijnrood">robijnrood</span>
    <span class="label label--paars">paars</span>
    <span class="label label--oranje">oranje</span>
    <span class="label label--mosgroen">mosgroen</span>
    <span class="label label--mintgroen">mintgroen</span>
    <span class="label label--lichtblauw">lichtblauw</span>
    <span class="label label--hemelblauw">hemelblauw</span>
    <span class="label label--donkerblauw">donkerblauw</span>
    <span class="label label--groen">groen</span>
    <span class="label label--geel">geel</span>
    <span class="label label--donkergroen">donkergroen</span>
    <span class="label label--donkergeel">donkergeel</span>
    <span class="label label--donkerbruin">donkerbruin</span>
    <span class="label label--bruin">bruin</span>
    <span class="label label--optional">optioneel</span>
</div>

<p>Het label <span class="label label--optional">optioneel</span> is bedoeld
om aan te geven dat een invoerveld van een formulier niet verplicht ingevuld
hoeft te worden. Deze mag niet voor andere doeleinden gebruikt worden.</p>

<h2>Badges</h2>
<p>Badges mogen alleen getallen bevatten en zijn beschikbaar in de kleuren van
de rijkshuisstijl.</p>


<div class="example example--transparent" id="example-badges">
    <span class="badge badge--wit">1</span>
    <span class="badge badge--zwart">2</span>
    <span class="badge badge--violet">3</span>
    <span class="badge badge--roze">4</span>
    <span class="badge badge--rood">5</span>
    <span class="badge badge--robijnrood">6</span>
    <span class="badge badge--paars">7</span>
    <span class="badge badge--oranje">8</span>
    <span class="badge badge--mosgroen">9</span>
    <span class="badge badge--mintgroen">10</span>
    <span class="badge badge--lichtblauw">11</span>
    <span class="badge badge--hemelblauw">12</span>
    <span class="badge badge--donkerblauw">13</span>
    <span class="badge badge--groen">14</span>
    <span class="badge badge--geel">15</span>
    <span class="badge badge--donkergroen">16</span>
    <span class="badge badge--donkergeel">17</span>
    <span class="badge badge--donkerbruin">18</span>
    <span class="badge badge--bruin">19</span>
</div>

<h3>Icoon met <span lang="en-US">badge</span></h3>

<p>Voeg de class <code>.badge--icon</code> toe om een <span lang="en-US">badge</span> over een icoon te
positioneren.</p>

<div class="example example--transparent" id="example-badges--icon">
    <div>
        <i class="icon icon-user"></i>
        <span class="badge badge--icon badge--rood">1</span>
    </div>

</div>
