---
layout: sidenav-page
title: Meta
permalink: componenten/meta/
styles: [
    'uno/components/meta/meta.css'
]
---
<h2>Meta</h2>
<p>Meta is een element om secundaire informatie te tonen.</p>

<div class="example" id="example-meta">
    <span class="meta">13 november 2018</span>
    <span class="meta">Grat, Senior tester/product owner testautomatisering</span>
</div>

<h2>Stappen onder een kop</h2>
<p>Voor het tonen van stappen bij een kop kun je <code>.meta--progress</code> gebruiken.</p>

<div class="example" id="example-meta-progress">
    <div class="content__header">
        <h1 class="content__header-title">Contactgegevens instelling</h1>
        <p class="content__header-meta meta meta--progress">Stap 1 van 4 – Eerste opvang nieuwkomers VO</p>
    </div>
</div>

