---
layout: sidenav-page
title: Pagination
parent: Components
permalink: componenten/pagination/
styles: [
    'uno/components/pagination/pagination.css'
]
additionalStyles: [
    'uno/components/notification/notification.css'
]
---

<h2>Paginering</h2>
<p>Gebruik de paginering component om te navigeren tussen meerder pagina's met (zoek)resultaten.</p>

<p><span lang="en-US">Pagination</span> voor een list met links naar meerdere resultaten pagina&rsquo;s.
Geef alle list items de class <code>pagination__item</code>. Plaats alle
    <code>pagination__item</code>s vóór de <code>--previous</code> en
    <code>--next</code> items. Deze 2 links worden automatisch verborgen wanneer
    ze niet van toepassing zijn.<br>
    <br>Gebruik geen link op de pagina waar je bent, maar zet daar een span die aangeeft dat dat de huidige pagina is.
    Zet daar de <span lang="en-US">class</span> <code>pagination__item--active</code> op, zodat alleen <span lang="en-US">screenreaders</span> het zien.<br>
    <br>Een link naar de eerste of laatste resultaten pagina kan opgenomen worden met een <span lang="en-US">class</span> 
    <span lang="en-US">class</span> <code>pagination__item--first</code> en <code>pagination__item--last</code>.<br>
    De teksten &lsquo;Volgende&rsquo; en &lsquo;Vorige&rsquo; worden visueel verborgen op kleine schermen (wel zichtbaar voor <span lang="en-US">screenreaders</span>).
</p>
<div class="example">
    <nav aria-label="pagination">
        <ul class="pagination pagination--dots">
            <li class="pagination__item pagination__item--previous"><a href="#" class="pagination__link"><span class="pagination__link--previous">Vorige</span><span class="screenreader-only">pagina</span></a></li>
            <li class="pagination__item pagination__item--first"><a href="#" class="pagination__link"><span class="screenreader-only">pagina</span>1</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>10</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>11</a></li>
            <li class="pagination__item pagination__item--active"><span class="screenreader-only">U bevindt zich op pagina </span>12</li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>13</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>14</a></li>
            <li class="pagination__item pagination__item--last"><a class="pagination__link" href="#"><span class="screenreader-only">pagina </span>20</a></li>
            <li class="pagination__item pagination__item--next"><a href="#" class="pagination__link"><span class="pagination__link--previous">Volgende</span><span class="screenreader-only">pagina</span></a></li>
        </ul>
    </nav>
</div>

<div class="example">
    <nav aria-label="pagination">
        <ul class="pagination pagination--dots">
            <li class="pagination__item pagination__item--active"><span class="screenreader-only">U bevindt zich op pagina </span>1</li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>2</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>3</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>4</a></li>
            <li class="pagination__item pagination__item--last"><a class="pagination__link" href="#"><span class="screenreader-only">pagina </span>20</a></li>
            <li class="pagination__item pagination__item--next"><a href="#" class="pagination__link"><span class="pagination__link--previous">Volgende</span><span class="screenreader-only">pagina</span></a></li>
        </ul>
    </nav>
</div>


<div class="notification notification--warning">
    <div class="notification__content">
        <div class="notification__type">LET OP</div>
          <h2 class="notification__title">Het onderstaande pagination component wordt uitgefasseerd</h2>
          <span>In versie 5.0.0 wordt het oude pagination component vervangen door het nieuwe (bovenstaande) 
                pagination component
          </span>
    </div>
</div>

<h2>Paginering <i>(deprecated)</i></h2>
<p><span lang="en-US">Pagination</span> voor een list met links naar meerdere resultaten pagina&rsquo;s.</p>
<p><span lang="en-US">pagination</span> voor een list met links naar meerdere pagina&rsquo;s resultaten.</p>
<p>Geef alle list items de class <code>pagination__item</code>.<br>Plaats alle
    <code>pagination__item</code>s vóór de <code>--previous</code> en
    <code>--next</code> items. Deze 2 links worden automatisch verborgen wanneer
    ze niet van toepassing zijn.<br>
    Gebruik geen link op de pagina waar je bent, maar zet daar een span die aangeeft dat dat de huidige pagina is.
    Zet daar de <span lang="en-US">class</span> <code>pagination__item--active</code> op, zodat alleen <span lang="en-US">screenreaders</span> het zien.<br>
    Een link naar de laatste resultaten pagina kan opgenomen worden met een <span lang="en-US">class</span> <code>pagination__item--last</code>.<br>
    De teksten &lsquo;Volgende&rsquo; en &lsquo;Vorige&rsquo; worden visueel verborgen op kleine schermen (wel zichtbaar voor <span lang="en-US">screenreaders</span>).
</p>

<div class="example">
    <nav aria-label="pagination">
        <ul class="pagination">
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>6</a></li>
            <li class="pagination__item pagination__item--active"><span class="screenreader-only">U bevindt zich op pagina </span>7</li>
            <li class="pagination__item"><a href="#" class="pagination__link"><span class="screenreader-only">pagina </span>8</a></li>
            <li class="pagination__item pagination__item--last"><span>van</span><a class="pagination__link" href="#"><span class="screenreader-only">pagina </span>10</a></li>
            <li class="pagination__item pagination__item--previous"><a href="#" class="pagination__link"><span>Vorige <span class="screenreader-only">pagina</span></span></a></li>
            <li class="pagination__item pagination__item--next"><a href="#" class="pagination__link"><span>Volgende <span class="screenreader-only">pagina</span></span></a></li>
        </ul>
    </nav>
</div>

<h2>Paginering simple</h2>
<p>Een simpele paginering die gebruikt kan worden bij bijvoorbeeld <span lang="en-US">Google Search</span> resultaten.</p>
<div class="example">
	<nav>
		<ul class="pagination pagination--simple" title="zoekresultaten">
			<li class="pagination__item pagination__item--previous"><a href="#" class="pagination__link"><span>Vorige <span class="screenreader-only">pagina</span></span></a></li>
			<li class="pagination__item pagination__item--next"><a href="#" class="pagination__link"><span>Volgende <span class="screenreader-only">pagina</span></span></a></li>
		</ul>
	</nav>
</div>
