---
layout: sidenav-page
title: Quote
parent: Components
permalink: componenten/quote/
styles: [
    'uno/components/quote/quote.css',
    'uno/components/meta/meta.css'
]
---

<p>Met behulp van de <code>.quote</code> wordt een element als quote gerenderd. Gebruik bij voorkeur de
    <code>blockquote</code> tag, zodat ook <span lang="en-US">screenreaders</span> herkennen dat het om een quote gaat.</p>

<div class="example">
    <blockquote class="quote">
        Praesent ullamcorper lacinia nisl, vel vulputate elit tempus tincidunt.
        Sed dictum ultrices finibus. Praesent at venenatis sapien. Nam sed quam
        pretium, dignissim sapien euismod, tempus urna. Maecenas mauris odio,
        malesuada sit amet lectus faucibus, ultrices ullamcorper enim.
    </blockquote>
</div>

<h2>Quote met afbeelding</h2>

<p>Bij een quote kan een afbeelding geplaatst worden, bijvoorbeeld een foto van de persoon die de quote gemaakt heeft.</p>


<div class="example">

    <blockquote class="quote quote--with-image">
        <div class="quote__body">
            Praesent ullamcorper lacinia nisl, vel vulputate elit tempus tincidunt. Sed dictum ultrices finibus.
        </div>

        <div class="quote__image">
            <img src="../../images/ceasar.jpg" alt="Julius Ceasar" />

        </div>
        <div class="quote__meta">
            <span class="meta">&ndash; Julius Ceasar</span><br/>
            <a href="#" title="Lees meer">Lees meer over lorum ipsum</a>
        </div>
    </blockquote>

</div>