---
layout: sidenav-page
title: Section
parent: Components
permalink: componenten/sections/
styles: [
    'uno/components/section/edit-section.css',
    'uno/components/section/inner-section.css'
]
---

<h2 lang="en-US">Edit-section</h2>
<p>Een bewerk knop voor meerdere velden. Zorgt ervoor dat de wijzig knop uitlijnt
met de kop.</p>

<div class="example" id="example-edit-section">
    <div class="edit-section">
        <h2>Titel van sectie</h2>
        <a href="#">Wijzig</a>
    </div>
    <p><em>Te wijzigen velden</em></p>
</div>

<h2 lang="en-US">Inner-section</h2>
<p>Gebruik om data te groeperen. De inhoud van een <span lang="en-US">inner-section</span>is volledig vrij.</p>

<div class="example" id="example-inner-section">
    <p>Vivamus eget turpis sed ante porttitor pretium vitae in sapien. Ut aliquam,
        lorem et malesuada elementum, risus enim rhoncus ipsum, vel varius velit
        lacus sed arcu. Donec laoreet, purus non tincidunt mollis, lorem urna
        rutrum nisi, at sodales neque sapien sit amet erat. Aliquam placerat
        mollis quam, eget varius ex hendrerit id. Nullam quis justo et arcu
        ultrices facilisis. Phasellus et tortor lacinia, commodo sapien vel,
        tincidunt dolor. Vestibulum convallis tortor eu ultricies fringilla.
        Curabitur convallis euismod odio.</p>
    <div class="inner-section">
        <h2>Titel van sectie</h2>
        <p>Nulla eget velit in erat ultrices volutpat. Sed et nibh fringilla,
            pellentesque elit non, tristique mi. Nunc urna eros, vehicula non
            nunc sit amet, suscipit gravida nibh. Donec imperdiet tincidunt
            laoreet. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec viverra eros sed luctus
            egestas. Quisque ornare purus lacus, in volutpat eros porttitor ut.
            Duis pretium mollis nunc, at finibus velit lobortis sit amet. Mauris
            nec metus a quam mollis congue. Integer feugiat tellus sit amet
            lectus efficitur, posuere pellentesque nunc pulvinar. Duis nec
            vulputate est. Maecenas elit mauris, congue id leo eget, euismod
            convallis risus. In pellentesque diam ac ullamcorper tristique.</p>
    </div>

    <p>Vivamus eget turpis sed ante porttitor pretium vitae in sapien. Ut aliquam,
        lorem et malesuada elementum, risus enim rhoncus ipsum, vel varius velit
        lacus sed arcu. Donec laoreet, purus non tincidunt mollis, lorem urna
        rutrum nisi, at sodales neque sapien sit amet erat. Aliquam placerat
        mollis quam, eget varius ex hendrerit id. Nullam quis justo et arcu
        ultrices facilisis. Phasellus et tortor lacinia, commodo sapien vel,
        tincidunt dolor. Vestibulum convallis tortor eu ultricies fringilla.
        Curabitur convallis euismod odio.</p>
</div>

<h3><span lang="en-US">inner-section</span> met <span lang="en-US">background</span></h3>

<p>In plaats van een border kan ook een <span lang="en-US">background</span> gebruikt worden als <span lang="en-US">inner-section</span>,
voeg een <code>.background--{kleur}</code> toe en de <span lang="en-US">modifier class</span>
    <code>.inner-section--no-border</code></p>
<div class="example" id="example-inner-section--background">
    <p>Vivamus eget turpis sed ante porttitor pretium vitae in sapien. Ut aliquam,
        lorem et malesuada elementum, risus enim rhoncus ipsum, vel varius velit
        lacus sed arcu.</p>
    <div class="inner-section inner-section--no-border background--donkergeel-tint-2">
        <h2>Titel van sectie</h2>
        <p>Nulla eget velit in erat ultrices volutpat. Sed et nibh fringilla,
            pellentesque elit non, tristique mi. Nunc urna eros, vehicula non
            nunc sit amet, suscipit gravida nibh. Donec imperdiet tincidunt
            laoreet. </p>
    </div>

    <p>Vivamus eget turpis sed ante porttitor pretium vitae in sapien. Ut aliquam,
        lorem et malesuada elementum, risus enim rhoncus ipsum, vel varius velit
        lacus sed arcu.</p>
</div>
