---
layout: sidenav-page
title: Skiplink
permalink: componenten/skiplink/
styles: [
    'uno/components/skiplink/skiplink.css'
]
---
<p>
    Bezoekers die niet met de muis kunnen navigeren, bedienen het web meestal
    door te navigeren met het toetsenbord. Zij doen dit met de tab toets. Door
    tab en <span lang="en-US">shift</span> + tab te gebruiken kan men naar de volgende of vorige link of
    knop op de pagina gaan. Welk element actief is (de tabfocus), is vervolgens
    te zien doordat er een kader omheen komt te staan, de zogenaamde
    <span lang="en-US">“focus rectangle”.</span>
</p>
<p>Er staan vaak veel links op een webpagina. Voor een deel zijn
    dit links die op alle pagina’s terugkomen. Om het navigeren
    sneller te maken, stellen de webrichtlijnen het gebruik van
    een skiplink voor. Met een dergelijke link kan direct naar
    de hoofdcontent op de pagina worden “gesprongen”. Zo’n
    <span lang="en-US">skiplink</span> is meestal onzichtbaar en staat bovenaan in de
    broncode van de pagina. Wanneer een bezoeker op de link
    klikt, wordt de focus naar een punt verderop in de pagina
    verplaatst zodat men herhalende onderdelen op de pagina kan
    overslaan.</p>

<h2>Gebruik</h2>
<p>Elke pagina binnen DUO dient voorzien te zijn van een
    <span lang="en-US">skiplink</span>. Een<span lang="en-US">skiplink</span> 
    bestaat uit 2 delen. Vóór alle navigatie dient de link
    opgenomen te worden:</p>

<div class="example">
    <a class="skiplink" href="#example_content">
        <span class="skiplink__text">Ga direct naar inhoud</span>
    </a>
</div>

<p>Daarnaast moet de content container worden voorzien van een
    ID, welke
    gelijk moet zijn aan de <span lang="en-US">target</span> van de <span lang="en-US">skiplink</span>, in dit geval
    <code>#example_content</code>. Belangrijk is om ook het
    <code>tabindex</code> attribuut op te nemen, dit zorgt
    ervoor dat de
    <span lang="en-US">skiplink</span> ook in <span lang="en-US">Chrome</span> goed werkt:</p>

<div class="example">
    <div id="example_content" tabindex="-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Integer tristique ultrices aliquet. Maecenas
            fringilla interdum ligula consequat feugiat.
            Pellentesque facilisis malesuada dui, et varius sem
            ornare id. Nunc tempor, nulla at blandit volutpat,
            tortor augue aliquet ante, vitae porta erat nibh a
            felis. Vivamus vitae sagittis augue.</p>
    </div>
</div>