---
layout: sidenav-page
title: Spinner
parent: Components
permalink: componenten/spinner/
styles: [
    'uno/components/spinner/spinner.css',
    'uno/core/animations.css'
]
---

<p>
    Om elementen aan te duiden als &lsquo;bezig met laden&rsquo; kan een preloader/spinner worden ingezet.
    Deze toont een subtiele animatie tijdens het laden. Wanneer de preloader class wordt verwijderd functioneert
    en ziet het element er uit als standaard.
</p>
<p>Met behulp van de <code>.spinner</code> <span lang="en-US">class</span> kunnen elementen voorzien worden van een laad animatie. Door <code>aria-live="assertive"</code> toe te voegen forceer je een <span lang="en-US">screenreader</span> de 'aan het laden' tekst voor te lezen. Er is een <span lang="en-US">modifier</span> <code>.spinner--page</code> voor het inladen van volledige pagina's.</p>

<div class="example">
  <div class="spinner">
    <div aria-live="assertive" class="screenreader-only">Aan het laden</div>
    <p>Zoals bijvoorbeeld deze tekst die nog geladen moet worden. Het element waar de <span lang="en-US">spinner</span> op verschijnt krijgt ook een lichtere <span lang="en-US">opacity</span>.</p>
  </div>
</div>

<div class="example">
  <main class="spinner spinner--page">
    <div aria-live="assertive" class="screenreader-only">Aan het laden</div>
    <p>Deze <span lang="en-US">spinner</span> <strong>alleen</strong> gebruiken bij een <span lang="en-US">interface</span> die in zijn geheel binnen de <span lang="en-US">main</span> wordt geladen (Exclusief logo & navigatie).</p>
  </main>
</div>