---
layout: sidenav-page
title: Switch
parent: Components
permalink: componenten/switch/
styles: [
    'uno/components/switch/switch.css'
]
---

<p>Een <span lang="en-US">switch</span> kan gebruikt om iets aan of uit te zetten. Zoals een <span lang="en-US">toggle</span>.</p>

<div class="example">
    <label for="switch1" lang="en-US">Title switch</label>
    <label class="switch">
        <input class="switch__input" type="checkbox" id="switch1">
        <span class="switch__slider">
            <span class="switch__state switch__state--on">Online</span>
            <span class="switch__state switch__state--off">Offline</span>
        </span>
    </label>
</div>

