---
layout: sidenav-page
title: Table
parent: Components
permalink: componenten/table/
styles: [
    'uno/components/table/table.css'
]
---
<p>
    Geschikt voor het tonen van tabulaire data, niet voor opmaak. Probeer het
    gebruik van tabellen te beperken, omdat tabellen lastig zijn voor screenreaders.
</p>

<h2>Eenvoudige tabel</h2>
<p>Geef elke tabel de <span lang="en-US">class</span> <code>.table</code>. Voor een tabel
met afwisselde achtergronden voeg je ook de <span lang="en-US">class</span>
<code>.table--striped</code> toe. Plaats de tabelkoppen in een
<code>&lt;thead&gt;</code> en de daadwerkelijke data in een
<code>&lt;tbody&gt;</code> element.</p>
<p>Gebruik het <code>scope</code> attribuut op
    de <code>&lt;th&gt;</code> elementen om aan te geven of de <span lang="en-US">header</span> voor een kolom of een rij is.
    Dit zorgt er voor dat <span lang="en-US">screenreaders</span> beter de tabel begrijpen.</p>
<p>Voeg een <span lang="en-US">caption</span> toe met de beschrijving van de tabel of verwijs
    naar een beschrijving buiten de tabel met een <code>aria-describedby</code></p>

<div class="example" id="example-table">
    <p  id="tabelbeschrijving">Tabelvoorbeeld per jaar.</p>
    <table class="table" aria-describedby="tabelbeschrijving">
        <thead>
        <tr>
            <td></td>
            <th scope=col>2014</th>
            <th scope=col>2015</th>
            <th scope=col>2016</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope=row>Foo</th>
                <td>124</td>
                <td>42</td>
                <td>252</td>
            </tr>
            <tr>
                <th scope=row>Bar</th>
                <td>42</td>
                <td>526</td>
                <td>12</td>
            </tr>
            <tr>
                <th scope=row>Baz</th>
                <td>736</td>
                <td>367</td>
                <td>234</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="reponsive-tabel">Responsive tables</h2>

<p>Tabellen zijn van zichzelf niet <span lang="en-US">responsive</span>. Op mobiele <span lang="en-US">devices</span>
    is het lastig tabulaire data overzichtelijk weer te geven.</p>
<p>Middels de <code>.table--responsive</code> <span lang="en-US">modifier</span> en wat extra
    attributen kan een tabel enigszins <span lang="en-US">responsive</span> gemaakt worden.<br>
    Voeg aan elke data cel het attribuut <code>data-col</code>
    toe, met als waarde de naam van die kolom.<br/>
    <small>Maak het scherm kleiner om het verschil tussen deze
    en bovenstaande tabel te zien</small></p>

<div class="example" id="example-table--responsive">
    <table class="table table--striped table--responsive" aria-describedby="reponsive-tabel">
        <thead>
        <tr>
            <td></td>
            <th scope="col">2014</th>
            <th scope="col">2015</th>
            <th scope="col">2016</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Foo</th>
            <td data-col="2014">124</td>
            <td data-col="2015">42</td>
            <td data-col="2016">252</td>
        </tr>
        <tr>
            <th scope="row">Bar</th>
            <td data-col="2014">42</td>
            <td data-col="2015">526</td>
            <td data-col="2016">12</td>
        </tr>
        <tr>
            <th scope="row">Baz</th>
            <td data-col="2014">736</td>
            <td data-col="2015">367</td>
            <td data-col="2016">234</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Automatisch <span lang="en-US">responsive</span> tabellen</h3>
<p>Met javascript kunnen eenvoudige tabellen (1 rij headings)
<span lang="en-US">responsive</span> gemaakt worden. De <code>data-col</code> attributen
worden dan automatisch op de cellen geplaatst.</p>

<div class="example" id="example-table--responsive-js">
    <table id="non_responsive_table" class="table table--striped">
        <caption>Voorbeeld automatische <span lang="en-US">responsive</span> tabel</caption>
        <thead>
        <tr>
            <td></td>
            <th scope="col">2014</th>
            <th scope="col">2015</th>
            <th scope="col">2016</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Foo</th>
            <td>124</td>
            <td>42</td>
            <td>252</td>
        </tr>
        <tr>
            <th scope="row">Bar</th>
            <td>42</td>
            <td>526</td>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row">Baz</th>
            <td>736</td>
            <td>367</td>
            <td>234</td>
        </tr>
        </tbody>
    </table>

    <script>
        System.import('../../uno/components/table/TableResponsive.js').then(function (module) {
            /* Select the desired table */
            var table = document.getElementById('non_responsive_table');
            module.TableResponsive(table);
        });
    </script>

</div>

<h2>Tabel met <span lang="en-US">hover</span> effect</h2>

<p>Voor tabellen waarbij complete rijen klikbaar en/of
    selecteerbaar zijn, kan de <span lang="en-US">class</span> <code>.table--hoverable</code>
    worden toegevoegd.</p>

<div class="example">
    <table class="table table--striped table--hoverable">
        <caption>Voorbeeld hover effect</caption>
        <thead>
        <tr>
            <td></td>
            <th scope="col">2014</th>
            <th scope="col">2015</th>
            <th scope="col">2016</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Foo</th>
            <td>124</td>
            <td>42</td>
            <td>252</td>
        </tr>
        <tr>
            <th scope="row">Bar</th>
            <td>42</td>
            <td>526</td>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row">Baz</th>
            <td>736</td>
            <td>367</td>
            <td>234</td>
        </tr>
        </tbody>
    </table>

</div>

<h2 id="complexe-tabel">Complexe tabellen</h2>
<p>Om ervoor te zorgen dat de tabel over de gehele breedte
wordt geplaatst, voeg je de modifier <code>.content--wide</code>
    toe aan het <span lang="en-US">block</span> waarin je hem plaatst.</p>
<p>Met de <span lang="en-US">modifier</span> <code>.table--small-font</code> wordt de fontgrootte
iets verkleind, geschikt voor tabellen met veel kolommen.</p>

<div class="example">
    <div class="content content--wide" style="overflow: scroll">
        <table class="table table--striped table--small-font" aria-describedby="complexe-tabel" id="example-table-complex" >
            <caption>Jaarresultaat</caption>
            <thead>
            <tr>
                <td colspan="2"></td>
                <th colspan="2" scope="colgroup" id="yr1112">2011 - 2012</th>
                <th colspan="2" scope="colgroup" id="yr1213">2012 - 2013</th>
                <th colspan="2" scope="colgroup" id="yr1314">2013 - 2014</th>
                <th colspan="2" scope="colgroup" id="yr1415">2014 - 2015</th>
            </tr>
            <tr>
                <th scope="col" id="brin">Brinnr</th>
                <th scope="col" id="name">Naam Instelling</th>
                <th scope="col" id="i1112" headers="yr1112"><abbr title="Instelling" tabindex="0">Inst.</abbr></th>
                <th scope="col" id="v1112" headers="yr1112">Vgl Grp</th>
                <th scope="col" id="i1213" headers="yr1213"><abbr title="Instelling" tabindex="0">Inst.</abbr></th>
                <th scope="col" id="v1213" headers="yr1213">Vgl Grp</th>
                <th scope="col" id="i1314" headers="yr1314"><abbr title="Instelling" tabindex="0">Inst.</abbr></th>
                <th scope="col" id="v1314" headers="yr1314">Vgl Grp</th>
                <th scope="col" id="i1415" headers="yr1415"><abbr title="Instelling" tabindex="0">Inst.</abbr></th>
                <th scope="col" id="v1415" headers="yr1415">Vgl Grp</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td headers="brin">01IC</td>
                <th scope="row" headers="name" id="name0">AOC Oost</th>
                <td class="align-right" headers="name0 i1112 yr1112">81,1%</td>
                <td class="align-right" headers="name0 v1112 yr1112">71,1%</td>
                <td class="align-right" headers="name0 i1213 yr1213">79,8</td>
                <td class="align-right" headers="name0 v1213 yr1213">74,7%</td>
                <td class="align-right" headers="name0 i1314 yr1314">77,1%</td>
                <td class="align-right" headers="name0 v1314 yr1314">74,6%</td>
                <td class="align-right" headers="name0 i1415 yr1415">83,7%</td>
                <td class="align-right" headers="name0 v1415 yr1415">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">01NJ</td>
                <th headers="name" scope="row" id="name1">Terra</th>
                <td headers="name1 i1112 yr1112" class="align-right">75,5%</td>
                <td headers="name1 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name1 i1213 yr1213" class="align-right">77,1</td>
                <td headers="name1 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name1 i1314 yr1314" class="align-right">75,6%</td>
                <td headers="name1 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name1 i1415 yr1415" class="align-right">75,8%</td>
                <td headers="name1 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">01OE</td>
                <th headers="name" scope="row" id="name2">Wellantcollege</th>
                <td headers="name2 i1112 yr1112" class="align-right">70,0%</td>
                <td headers="name2 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name2 i1213 yr1213" class="align-right">73,7</td>
                <td headers="name2 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name2 i1314 yr1314" class="align-right">75,6%</td>
                <td headers="name2 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name2 i1415 yr1415" class="align-right">76,7%</td>
                <td headers="name2 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">11UL</td>
                <th headers="name" scope="row" id="name3">Edudelta Onderwijsgroep</th>
                <td headers="name3 i1112 yr1112" class="align-right">71,0%</td>
                <td headers="name3 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name3 i1213 yr1213" class="align-right">76,4</td>
                <td headers="name3 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name3 i1314 yr1314" class="align-right">69,1%</td>
                <td headers="name3 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name3 i1415 yr1415" class="align-right">79,1%</td>
                <td headers="name3 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">12VI</td>
                <th headers="name" scope="row" id="name4">Nordwin College</th>
                <td headers="name4 i1112 yr1112" class="align-right">77,4%</td>
                <td headers="name4 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name4 i1213 yr1213" class="align-right">80,8</td>
                <td headers="name4 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name4 i1314 yr1314" class="align-right">78,8%</td>
                <td headers="name4 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name4 i1415 yr1415" class="align-right">78,7%</td>
                <td headers="name4 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">13US</td>
                <th headers="name" scope="row" id="name5">AOC De Groene Welle</th>
                <td headers="name5 i1112 yr1112" class="align-right">76,8%</td>
                <td headers="name5 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name5 i1213 yr1213" class="align-right">78,9</td>
                <td headers="name5 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name5 i1314 yr1314" class="align-right">77,4%</td>
                <td headers="name5 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name5 i1415 yr1415" class="align-right">80,5%</td>
                <td headers="name5 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">14YD</td>
                <th headers="name" scope="row" id="name6">Lentiz</th>
                <td headers="name6 i1112 yr1112" class="align-right">78,3%</td>
                <td headers="name6 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name6 i1213 yr1213" class="align-right">81,5</td>
                <td headers="name6 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name6 i1314 yr1314" class="align-right">84,5%</td>
                <td headers="name6 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name6 i1415 yr1415" class="align-right">81,2%</td>
                <td headers="name6 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">21CS</td>
                <th headers="name" scope="row" id="name7">CITAVERDE College</th>
                <td headers="name7 i1112 yr1112" class="align-right">71,3%</td>
                <td headers="name7 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name7 i1213 yr1213" class="align-right">78,5</td>
                <td headers="name7 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name7 i1314 yr1314" class="align-right">80,3%</td>
                <td headers="name7 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name7 i1415 yr1415" class="align-right">77,8%</td>
                <td headers="name7 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">21CY</td>
                <th headers="name" scope="row" id="name8">AOC West Brabant</th>
                <td headers="name8 i1112 yr1112" class="align-right">72,9%</td>
                <td headers="name8 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name8 i1213 yr1213" class="align-right">70,4</td>
                <td headers="name8 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name8 i1314 yr1314" class="align-right">70,4%</td>
                <td headers="name8 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name8 i1415 yr1415" class="align-right">75,7%</td>
                <td headers="name8 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">25EF</td>
                <th headers="name" scope="row" id="name9">Clusius College</th>
                <td headers="name9 i1112 yr1112" class="align-right">73,0%</td>
                <td headers="name9 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name9 i1213 yr1213" class="align-right">79,2</td>
                <td headers="name9 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name9 i1314 yr1314" class="align-right">77,0%</td>
                <td headers="name9 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name9 i1415 yr1415" class="align-right">80,0%</td>
                <td headers="name9 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">25GV</td>
                <th headers="name" scope="row" id="name10">AOC Groenhorst</th>
                <td headers="name10 i1112 yr1112" class="align-right">72,7%</td>
                <td headers="name10 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name10 i1213 yr1213" class="align-right">76,7</td>
                <td headers="name10 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name10 i1314 yr1314" class="align-right">76,7%</td>
                <td headers="name10 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name10 i1415 yr1415" class="align-right">73,1%</td>
                <td headers="name10 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">26CC</td>
                <th headers="name" scope="row" id="name11">Helicon</th>
                <td headers="name11 i1112 yr1112" class="align-right">64,2%</td>
                <td headers="name11 v1112 yr1112" class="align-right">71,1%</td>
                <td headers="name11 i1213 yr1213" class="align-right">68,8</td>
                <td headers="name11 v1213 yr1213" class="align-right">74,7%</td>
                <td headers="name11 i1314 yr1314" class="align-right">69,3%</td>
                <td headers="name11 v1314 yr1314" class="align-right">74,6%</td>
                <td headers="name11 i1415 yr1415" class="align-right">74,8%</td>
                <td headers="name11 v1415 yr1415" class="align-right">77,2%</td>
            </tr>
            <tr>
                <td headers="brin">24ZV</td>
                <th headers="name" scope="row" id="name12">Effatha Chr Sch v BBO</th>
                <td headers="name12 i1112 yr1112" class="align-right">87,5%</td>
                <td headers="name12 v1112 yr1112" class="align-right">76,2%</td>
                <td headers="name12 i1213 yr1213" class="align-right">71,4</td>
                <td headers="name12 v1213 yr1213" class="align-right">80,0%</td>
                <td headers="name12 i1314 yr1314" class="align-right">0,0%</td>
                <td headers="name12 v1314 yr1314" class="align-right">25,0%</td>
                <td headers="name12 i1415 yr1415" class="align-right">66,7%</td>
                <td headers="name12 v1415 yr1415" class="align-right">80,0%</td>
            </tr>
            <tr>
                <td headers="brin">24ZW</td>
                <th headers="name" scope="row" id="name13">BBO de Schalm</th>
                <td headers="name13 i1112 yr1112" class="align-right">40,0%</td>
                <td headers="name13 v1112 yr1112" class="align-right">76,2%</td>
                <td headers="name13 i1213 yr1213" class="align-right">100,0</td>
                <td headers="name13 v1213 yr1213" class="align-right">80,0%</td>
                <td headers="name13 i1314 yr1314" class="align-right">50,0%</td>
                <td headers="name13 v1314 yr1314" class="align-right">25,0%</td>
                <td headers="name13 i1415 yr1415" class="align-right">100,0%</td>
                <td headers="name13 v1415 yr1415" class="align-right">80,0%</td>
            </tr>
            <tr>
                <td headers="brin">00GT</td>
                <th headers="name" scope="row" id="name14">ROC Albeda College</th>
                <td headers="name14 i1112 yr1112" class="align-right">62,9%</td>
                <td headers="name14 v1112 yr1112" class="align-right">69,4%</td>
                <td headers="name14 i1213 yr1213" class="align-right">66,5</td>
                <td headers="name14 v1213 yr1213" class="align-right">72,0%</td>
                <td headers="name14 i1314 yr1314" class="align-right">68,4%</td>
                <td headers="name14 v1314 yr1314" class="align-right">73,3%</td>
                <td headers="name14 i1415 yr1415" class="align-right">70,0%</td>
                <td headers="name14 v1415 yr1415" class="align-right">74,0%</td>
            </tr>
            <tr>
                <td headers="brin">01AA</td>
                <th headers="name" scope="row" id="name15">Landstede</th>
                <td headers="name15 i1112 yr1112" class="align-right">70,8%</td>
                <td headers="name15 v1112 yr1112" class="align-right">69,4%</td>
                <td headers="name15 i1213 yr1213" class="align-right">70,8</td>
                <td headers="name15 v1213 yr1213" class="align-right">72,0%</td>
                <td headers="name15 i1314 yr1314" class="align-right">74,8%</td>
                <td headers="name15 v1314 yr1314" class="align-right">73,3%</td>
                <td headers="name15 i1415 yr1415" class="align-right">76,1%</td>
                <td headers="name15 v1415 yr1415" class="align-right">74,0%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h2>Selectie van 1 of meerdere rijen</h2>
<p>Geef elke <code>tr</code> de class<code>.row--selected</code> om de rij te selecteren.</p>
<br>

<div class="example" id="example-table--selection">
    <p  id="tabelmetgeselecteerderijen">Tabelvoorbeeld per jaar.</p>
    <table class="table table--striped" aria-describedby="tabelmetgeselecteerderijen">
        <thead>
        <tr>
            <td></td>
            <th scope=col>2014</th>
            <th scope=col>2015</th>
            <th scope=col>2016</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope=row>Bar</th>
            <td>143</td>
            <td>446</td>
            <td>833</td>
        </tr>
        <tr class="row--selected">
            <th scope=row>Foo</th>
            <td>124</td>
            <td>426</td>
            <td>252</td>
        </tr>
        <tr>
            <th scope=row>Bar</th>
            <td>423</td>
            <td>526</td>
            <td>128</td>
        </tr>
        <tr class="row--selected">
            <th scope=row>Baz</th>
            <td>736</td>
            <td>367</td>
            <td>234</td>
        </tr>
        <tr class="row--selected">
            <th scope=row>Foo</th>
            <td>352</td>
            <td>634</td>
            <td>146</td>
        </tr>
        <tr>
            <th scope=row>Bar</th>
            <td>736</td>
            <td>367</td>
            <td>234</td>
        </tr>
        </tbody>
    </table>
</div>
