---
layout: sidenav-page
title: Timeline
permalink: componenten/timeline/
styles: [
	'uno/components/list/list-timeline.css',
]
additionalStyles: [
	'uno/components/button/button.css',
	'uno/components/meta/meta.css',
	'uno/components/form/file.css',
	'uno/components/label/label.css'
]
---
<p>Een tijdlijn kan gebruikt worden om acties op verschillende tijdsmomenten in beeld te brengen. Via links in de tijdlijn kan er naar de acties genavigeerd worden.</p>
<p><strong>Let op:</strong> de datum is een <span lang="en-US">header</span>. Welke dat moet zijn is afhankelijk van waar in de hierarchie je zit.
    In dit geval komt het direct na een <code>&lt;h2&gt;</code> ('Timeline') en is het een <code>&lt;h3&gt;</code>.
</p>
<p>In de <code>list__item-heading</code> dien je gebruik te maken van de volgende tags:<br/>
	- voor datums: <code>&lt;time&gt;21 augustus 2019&lt;/time&gt;</code><br/>
	- voor dikgedrukte tekst: <code>&lt;strong&gt;Titel&lt;/strong&gt;</code>
</p>

<div class="example" id="example-timeline">

	<ul class="list list--timeline">
		<li class="list__item">
            <h3 class="list__item-heading"><time>
                1&nbsp;mei
                t/m 30&nbsp;augustus
            </time></h3>
			<p><a href="/zakelijk/primair-onderwijs/bekostiging-en-subsidies/tegemoetkoming-opleidingsscholen/tegemoetkoming-aspirant-opleidingsscholen.jsp">Indienen
					aanvraag aspirant-opleidingsscholen</a></p>

		</li>
		<li class="list__item">
            <h3 class="list__item-heading"><time>
                1&nbsp;juni
                t/m 30&nbsp;september
            </time></h3>
			<p><a href="/zakelijk/primair-onderwijs/bekostiging-en-subsidies/tegemoetkoming-opleidingsscholen/opgave-aantal-studenten-opleidingsscholen.jsp">Indienen
					Opgave aantal studenten
					opleidingsscholen</a></p>

		</li>
		<li class="list__item">
            <h3 class="list__item-heading"><time>
                15&nbsp;juni
                <span class="label label--donkergeel">Deadline</span>
            </time></h3>
			<p><a href="/zakelijk/primair-onderwijs/personeel/levering-personeelsgegevens.jsp">Levering
					personeelsgegevens kwartaal 1 po</a></p>

		</li>
		<li class="list__item">
				<h3 class="list__item-heading"><time>
					22&nbsp;juni
					<span class="label label--donkergeel">Deadline</span>
				</time></h3>
			<p><a href="/zakelijk/betaaldatums/betaaldatums.jsp">Betaaldatum
					bekostiging</a></p>
		</li>
		<li class="list__item list__item--disabled">
				<h3 class="list__item-heading"><time>
					28&nbsp;juni
				</time></h3>

			<p>Dit item is uitgeschakeld door gebruik van <code>list__item--disabled</code></p>

		</li>
	</ul>
</div>

<h2>Tijdlijn start &amp; eind indicatie</h2>
<p>Standaard start (en stopt) een tijdlijn met een lijn. Om deze te laten beginnen en/of eindigen met een bullet kan de <code lang="en-US">timeline--no-start</code> of <code lang="en-US">timeline--no-end</code> modifier gebruikt worden.</p>

<div class="example" id="example-timeline-no-start-end">

	<ul class="list list--timeline list--timeline-no-start list--timeline-no-end">
		<li class="list__item">
            <h3 class="list__item-heading">
				<time>1&nbsp;mei t/m 30&nbsp;augustus</time></h3>
				<p><a href="/zakelijk/primair-onderwijs/bekostiging-en-subsidies/tegemoetkoming-opleidingsscholen/tegemoetkoming-aspirant-opleidingsscholen.jsp">Indienen
					aanvraag aspirant-opleidingsscholen</a></p>

		</li>
		<li class="list__item">
            <h3 class="list__item-heading"><time>
                1&nbsp;juni
                t/m 30&nbsp;september
            </time></h3>
			<p><a href="/zakelijk/primair-onderwijs/bekostiging-en-subsidies/tegemoetkoming-opleidingsscholen/opgave-aantal-studenten-opleidingsscholen.jsp">Indienen
					Opgave aantal studenten
					opleidingsscholen</a></p>

		</li>
		<li class="list__item">
            <h3 class="list__item-heading"><time>
                15&nbsp;juni
                <span class="label label--donkergeel">Deadline</span>
            </time></h3>
			<p><a href="/zakelijk/primair-onderwijs/personeel/levering-personeelsgegevens.jsp">Levering
					personeelsgegevens kwartaal 1 po</a></p>

		</li>
	</ul>
</div>

<h2>Compacte tijdlijn</h2>
<p>Een compacte tijdlijn wordt gebruikt om de status van een actie weer te geven.
	Een compacte tijdlijn is niet interactief.</p>
<div class="example" id="example-timeline--compact">
	<ul class="list list--timeline list--timeline-compact">
		<li class="list__item">Gegevens verzamelen</li>
		<li class="list__item list__item--active">Ondertekening</li>
		<li class="list__item list__item--disabled">In behandeling</li>
		<li class="list__item list__item--disabled">Uitsluitsel</li>
	</ul>
</div>

<h2>Grote tijdlijn</h2>
<div class="example example--grey" id="example-listimeline-large">
	<ul class="list list--timeline list--timeline-large list--timeline-no-start">
		<li class="list__item">
			<div class="content">
				<time class="meta list__date" datetime="2017-08-03T00:00:00+02:00"> 3 augustus 2017</time>
			</div>
			<div class="content-background">
				<div class="content">
					<div class="list__content">
						<strong>Terugmeldingen 2e voorlopige foto  2015 mbo vavo beschikbaar</strong>
						<p>De terugmelding bekostigingsgrondslagen en de individuele terugmelding mbo en vavo van de tweede voorlopige foto van 1 oktober 2015 zij geplaatst.</p>
						<p>
						<a href="/particulier/nieuwsoverzicht/terugmeldingen-2e-voorlopige-foto-2015-mbo-vavo-beschikbaar/">Lees meer</a></p>
					</div>
				</div>
			</div>
		</li>
		<li class="list__item">
			<div class="content">
				<time class="meta list__date" datetime="2017-03-26T00:00:00+01:00">26 maart 2017</time>
			</div>
			<div class="content-background">
				<div class="content">
					<div class="list__content">
						<strong>Conferentie doorontwikkeling BRON</strong>
						<p>
							<a href="/particulier/nieuwsoverzicht/conferentie-doorontwikkeling-bron/">Lees meer</a>
						</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<h2>Themakleuren</h2>
<p>De timeline bullets zijn standaard grijs van kleur maar kan een <span lang="en-US">modifier</span> class bevatten met een gewenste themakleur.<br/>
Gebruik &eacute;&eacute;n van de volgende kleuren:<br/>
    <span class="label label--violet">list--timeline-violet</span>
    <span class="label label--roze">list--timeline-roze</span>
    <span class="label label--rood">list--timeline-rood</span>
    <span class="label label--robijnrood">list--timeline-robijnrood</span>
    <span class="label label--paars">list--timeline-paars</span>
    <span class="label label--oranje">list--timeline-oranje</span>
    <span class="label label--mosgroen">list--timeline-mosgroen</span>
    <span class="label label--mintgroen">list--timeline-mintgroen</span>
    <span class="label label--lichtblauw">list--timeline-lichtblauw</span>
    <span class="label label--hemelblauw">list--timeline-hemelblauw</span>
    <span class="label label--donkerblauw">list--timeline-donkerblauw</span>
    <span class="label label--groen">list--timeline-groen</span>
    <span class="label label--geel">list--timeline-geel</span>
    <span class="label label--donkergroen">list--timeline-donkergroen</span>
    <span class="label label--donkergeel">list--timeline-donkergeel</span>
    <span class="label label--donkerbruin">list--timeline-donkerbruin</span>
	<span class="label label--bruin">list--timeline-bruin</span></p>