---
layout: sidenav-page
title: Video
parent: Components
permalink: componenten/videos/
additionalStyles: [
    'uno/components/list/list-files.css',
    'uno/components/form/file.css',
    'uno/components/meta/meta.css'
]
---

<p>Video's worden getoond in de standaard html5 videoplayer. Hierdoor is de <span lang="en-US">styling</span> per browser verschillend</p>
<h2>Voorbeeld</h2>

<div class="example">
    <video src="../../images/SampleVideo_1280x720_1mb.mp4" width="100%" controls poster="../../images/SampleVideo_1280x720_1mb.png">
        <track label="Nederlands" kind="subtitles" srclang="nl-NL" src="/../subtitles/video.vtt">
    </video>

    <div class="collapse" x-uno-collapse-group>

        <div x-uno-collapse class="collapse__header">
            <i class="collapse__indicator"></i>
            <span class="collapse__title">Download</span>
        </div>
        <div class="collapse__details">
            <ul class="list list--files">
                <li class="file">
                    <i class="file__icon icon icon-document" role="presentation"></i>
                    <div class="file__data">
                        <div class="file__filename">
                            <a class="file__title break-all" href="/_tmp/video/duo-inburgeren-in-nederland-nl.mp4"><strong>Video voor Apple Quicktime Player</strong></a>
                            <span class="meta">MP4, 32,74 mB</span>
                        </div>
                    </div>
                </li>
                <li class="file">
                    <i class="file__icon icon icon-document" role="presentation"></i>
                    <div class="file__data">
                        <div class="file__filename">
                            <a class="file__title break-all" href="/_tmp/video/duo-inburgeren-in-nederland-nl.mp3"><strong>Geluid</strong></a>
                            <span class="meta">MP3, 2,66 mB</span>
                        </div>
                    </div>
                </li>
                <li class="file">
                    <i class="file__icon icon icon-document" role="presentation"></i>
                    <div class="file__data">
                        <div class="file__filename">
                            <a class="file__title break-all" href="/_tmp/video/duo-inburgeren-in-nederland-nl.srt.txt"><strong>Ondertitelbestand</strong></a>
                            <span class="meta">SRT, 2.05 kB</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div x-uno-collapse class="collapse__header">
            <i class="collapse__indicator"></i>
            <span class="collapse__title">Beschrijving</span>
        </div>
        <div class="collapse__details">
            <h3>Inburgeren in Nederland</h3>
            <p>U gaat inburgeren in Nederland. Daarom is de taal belangrijk. Maar ook kennis van Nederland is belangrijk. Als u werk zoekt, of een ander huis. Als u een afspraak wilt maken in het ziekenhuis. Hoe gaat dat in Nederland? Wat zijn de regels? Hoe kunt u dat leren?</p>
            <p>U moet zelf inburgeren, zelf leren en hulp zoeken en zelf het inburgeringsexamen regelen.</p>
            <p>Weet u nu nog niet genoeg over de Nederlandse taal? Weet u nu nog niet genoeg over het leven in Nederland? Dan kunt u een cursus doen. U moet dan zelf een cursus zoeken. U krijgt 3 jaar om in te burgeren in Nederland.</p>
            <p>De cursus en het examen kosten geld. De cursus en het examen moet u zelf betalen. Bij DUO kunt u geld lenen voor de cursus en het examen. U moet dan wel een cursus doen met het Blik op Werk-keurmerk. Scholen met dit keurmerk ziet u op www.blikopwerk.nl.</p>
            <p>Niet iedereen hoeft het inburgeringsexamen te doen. U kunt ook een ander examen doen: Het Staatsexamen Nederlands als Tweede Taal. Het Staatsexamen Nederlands als Tweede Taal (NT2) moet u doen als u wilt gaan studeren. U leert dan Nederlands op een hoger niveau.</p>
            <p>Werd u na 1 januari 2015 inburgeringsplichtig en hebt u het diploma Staatsexamen NT2 gehaald? Dan moet u nog 2 examens doen om het inburgeringsdiploma te krijgen. Deze examens zijn: Oriëntatie op de Nederlandse Arbeidsmarkt en Kennis van de Nederlandse Maatschappij.</p>
        </div>
    </div>
</div>

<script>
  /* Load collapse component */
  System.import('../../uno/components/collapse/collapse.js').then(function (module) {

    /* Select all collapsible elements on the page */
    var elements = document.querySelectorAll('.example [x-uno-collapse]');

    /* Initialize all collapses */
    for (var i = 0; i < elements.length; i++) {
      new module.Collapse(elements.item(i));
    }
  });

</script>
