<%- partial('_partial/head') %>
<body class="theme--large-padding">
<div class="wrapper">
<%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
<%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>

<main class="skiplink-target" id="content" tabindex="-1">

    <%- partial('_partial/site-notification') %>
    <div class="container">
        <%- partial('_partial/intro') %>

        <article>
            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background">

                        <div class="content">
                            <%- partial('_partial/page') %>

                            <h2>Beschikbare kleuren</h2>


                            <ul class="colors-list">
                            <% for (var color of site.data.data.colors) {
                            %>
                                <li>
                                    <div class="background--<%= color %>">background--<br><%= color %></div>
                                </li>
                                <li>
                                    <div class="background--<%= color %>-tint-1">background--<br><%= color %>-tint-1</div>
                                </li>
                                <li>
                                    <div class="background--<%= color %>-tint-2">background--<br><%= color %>-tint-2</div>
                                </li>
                            <% } %>

                            </ul>

                            <h3>Grijstinten</h3>

                            <ul class="colors-list">
                                <% for (var color of site.data.data.grijstinten) {
                                %>
                                <li>
                                    <div class="background--<%= color %>">background--<br><%= color %></div>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<%- partial('_partial/debug') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

<%- js('js/colors.js') %>
</div>
</body>
</html>