<%- partial('_partial/head') %>
<body class="theme--large-padding">
<div class="wrapper">
<%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
<%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>
<%- partial('_partial/site-notification') %>
<main class="skiplink-target main" id="content" tabindex="-1">
    <div class="container">
        <%- partial('_partial/intro') %>

        <article>
            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background">

                        <div class="content">
                            <%- partial('_partial/page') %>
                            <% if(page.styles) { %>
                            <h2>Benodigde stylesheets</h2>
                            <ul>
                                <% for(css of page.styles) { %>
                                <li><code><%= css %></code></li>
                                <% }%>
                            </ul>
                            <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<%- partial('_partial/debug') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
</body>
</html>