<%- partial('_partial/head') %>
<body class="theme--large-padding">
<div class="wrapper">
<%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
<%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>

<main class="skiplink-target" id="content" tabindex="-1">

    <%- partial('_partial/site-notification') %>
    <div class="container">
        <%- partial('_partial/intro') %>

        <article>
            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background">

                        <div class="content">
                            <%- partial('_partial/page') %>

                            <h2>Beschikbare iconen</h2>

                            <p>Klik op een icon om de code naar het klembord te kopieren</p>

                            <ul class="icons-list">
                            <% var icons = listDir('src/images/icons') %>
                            <% for (var listIcon of icons) {
                                listIcon = listIcon.substring(0,listIcon.length - 4);
                            %>
                                <li>
                                    <div class="icons-holder">

                                        <span class="icon icon-<%= listIcon %>"></span>
                                        <textarea class="hidden" title="source">&lt;span class="icon icon-<%= listIcon %>" title="" role=""&gt;&lt;/span&gt;</textarea>
                                    </div>
                                    <span class="icons-list--title"><%= listIcon%></span>
                                </li>
                            <% } %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<%- partial('_partial/debug') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

<%- js('js/icons.js') %>
</div>
</body>
</html>