<%- partial('_partial/head') %>
<body>
<div class="wrapper">
<%- partial('_partial/header', {transparent: true}, {cache: !config.relative_link}) %>

    <main class="skiplink-target main" id="content" tabindex="-1">

        <%- partial('_partial/site-notification') %>
        <div class="container">
            <%- partial('_partial/intro') %>
            <%- partial('_partial/page') %>
        </div>
    </main>

    <%- partial('_partial/debug') %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
</body>
</html>