---
layout: icon-page
title: Iconen
parent: Core
permalink: core/icons/
intro: Iconen worden gerenderd met een <span lang="en-US">icon font</span>. DUO maakt gebruik van een <span lang="en-US">subset</span>
    van de iconen uit de rijkshuisstijl.
---

<h2>Basis set</h2>

<style>
    .example .icon {
        display: block;
    }
</style>

<p>Hieronder staat een lijst van de beschikbare iconen. Klik op een icoon om de
benodigde code naar het klembord te kopiëren.</p>
<p>Voor de webrichtlijnen is het noodzakelijk een <code lang="en-US">role</code> aan de icon
toe te kennen, eventueel aangevuld met het <code lang="en-US">title</code> attribuut, zodat
<span lang="en-US">screenreaders</span> begrijpen waarvoor het element bedoeld is.</p>

<div class="example">
    <span class="icon icon-home" role="presentation"></span>
</div>


<h2 lang="en-US">Character encoding</h2>
<p>Het is noodzakelijk (met name voor de correcte <span lang="en-US">rendering</span> van de iconen) dat alle UNO HTML, CSS en Javascript bestanden als UTF-8 geserveerd worden.
    Het is niet voldoende om een <span lang="en-US">meta tag</span> met <code>charset="utf-8"</code> in de <span lang="en-US">head</span> op te nemen. De server moet juist geconfigureerd zijn.</p>
<p>Als de <span lang="en-US">character encoding</span> niet juist is, zal je in plaats van een icoon één, twee of drie rare tekens zien zoals "æ‡å".</p>
<p>Of de <span lang="en-US">settings</span> juist zijn kan je zien in de <span lang="en-US">Developer view</span> (F12) aan de <span lang="en-US">Response Header <code>Content-Type: application/javascript; charset=utf-8</code></span>.
    Als dat attribuut niet bij de <span lang="en-US">headers</span> voorkomt, kan de css nog altijd correct getoond worden, maar is dan niet gegarandeerd.</p>
<p>Als je lokaal serveert via IntelliJ kan je de <span lang="en-US">character encoding</span> ook afdwingen in de <span lang="en-US">settings <code>Editor > File Encodings</code></span>.</p>
