---
layout: content-page
title: Modifiers
parent: Core
permalink: core/modifiers/
intro: De componenten library heeft een aantal generieke <span lang="en-US">modifier classes</span>.
additionalStyles: [
    'uno/components/list/list-files.css',
    'uno/components/button/button.css'
]
---
<div>
    <h2>.break-all</h2>
    <p>toevoegen van een <code>.break-all</code> <span lang="en-US">modifier class</span> zorgt ervoor dat lange teksten die geen natuurlijke
        breekpunten hebben (zoals automatisch gegenereerde bestandsnamen) toch onderbroken kunnen worden. Standaard worden teksten niet <afge></afge>broken.</p>
    <div class="example">
            <div class="content">
                <p>De eerste <span lang="en-US">file</span> heeft geen <code>.break-all</code> <span lang="en-US">class</span>. De tweede wel.</p>
                <ul class="list-files">
                    <li class="list-files__file">
                        <i class="list-files__icon icon icon-document"></i>
                        <div class="list-files__data">
                            <div class="list-files__filename">
                                <strong class="list-files__title">eenfilenaamissomsheelerglangzonderpuntenenofspatiesenkandandelayouthelemaaldoordewargooien.jpg</strong>
                                <span class="meta">JPG, 396.05 kB</span>
                            </div>
                            <button class="btn btn--link list-files__button">Verwijder</button>
                        </div>
                    </li>
                    <li class="list-files__file">
                        <i class="list-files__icon icon icon-document"></i>
                        <div class="list-files__data">

                            <div class="list-files__filename">
                                <strong class="list-files__title break-all">hettoevoegenvandeclassbreakallkanerdanvoorzorgendatooklangetekenreeksenonderbrokenworden.pdf</strong>
                                <span class="meta">PDF, 1.05 mB</span>
                            </div>
                            <button class="btn btn--link list-files__button">Verwijder</button>
                        </div>
                    </li>
                </ul>
        </div>
    </div>

    <h2 lang="en-US">Prevent scroll</h2>

    <p>In sommige gevallen wil je voorkomen dat de iets kan scrollen. Bijvoorbeeld de achtergrond van een <span lang="en-US">modal</span>.
    Voeg in dat geval een <span lang="en-US">class<code>no-scroll</code></span> aan het element toe.
    Zorg er dan wel voor dat je het ook weer verwijdert.</p>

    <h2>Uitlijning</h2>

    <p>Verschillende varianten voor uitlijning en weergave</p>

    <div class="example">
        <p class="text-left">Links uitlijnen</p>
        <p class="text-right">Rechts uitlijnen</p>
        <p class="text-center">Centreren</p>
    </div>

    <h2>Font stijl & kleur</h2>
    <div class="example">
        <p class="capitalize">Klein kapitaal</p>
        <p class="dimmed">Gedimt</p>
    </div>
</div>