---
title: in-page-navigatie
fulltitle: Lesgeld
permalink: templates/in-page-navigatie/
styles: [
    'uno/components/list/list-files.css',
    'uno/components/list/list-checks.css',
    'uno/components/todolist/todolist.css',
    'uno/components/table/table.css',
    'uno/components/meta/meta.css',
    'uno/components/navigation/inpage.css'
]
---
<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content content--inpage-nav-header">
            <ol class="list list--decimal decimal--with-dot columns">
                <li><a href="#">In het kort</a></li>
                <li><a href="#">Betaalwijze en incasso’s</a></li>
                <li class="selected">Lesgeld terugkrijgen</li>
                <li><a href="#">Je opleiding</a></li>
                <li><a href="#">Asielzoeker of vreemdeling</a></li>
            </ol>

        </div>
        <div class="content-background">
            <div class="content">
                <h2>3. Lesgeld terugkrijgen</h2>
                <p>Soms kun je een gedeelte van het lesgeld terugkrijgen. Je moet dit uiterlijk op de laatste dag van het schooljaar aanvragen. In 2016-2017 is dit 31 juli 2017.</p>
                <section>
                    <span class="is-h4" role="heading">Wanneer krijg ik iets terug?</span>
                    <p>Doe je een voltijdopleiding en schrijf je je vóór 1 mei uit? Dan kun je in de volgende gevallen lesgeld terugkrijgen:</p>
                    <ul class="list list--checks">
                        <li>Je hebt je diploma behaald.</li>
                        <li>Je stapt tijdens het schooljaar over naar een opleiding waarvoor je wettelijk cursusgeld moet betalen (bijvoorbeeld bbl of deeltijd).</li>
                        <li>Je gaat scheiden of je ouders gaan scheiden en daardoor ben je niet in staat de lessen te volgen.</li>
                        <li>Je bent zwanger.</li>
                        <li>Je kunt door (ernstige) medische omstandigheden het schooljaar niet afmaken.</li>
                        <li>Je partner of een familielid wordt ernstig ziek.</li>
                        <li>Bij overlijden van je partner of een familielid.</li>
                    </ul>
                </section>
                <section>
                    <span class="is-h4">Wat moet je doen?</span>
                    <p>Doe je een voltijdopleiding en schrijf je je vóór 1 mei uit? Dan kun je in de volgende gevallen lesgeld terugkrijgen:</p>
                    <ol class="list list--decimal-circled">
                        <li>Vraag teruggave van het lesgeld aan met het formulier Verzoek terugbetaling lesgeld. Doe dit uiterlijk op 31 juli 2017.</li>
                        <li>Stuur de op het formulier gevraagde bewijsstukken mee met je aanvraag. Ons postadres staat op het formulier. Bij medische
                            omstandigheden moet je de bijlage Medische informatie meesturen.
                            <ul class="list-files">
                                <li class="list-files__file">
                                    <i class="list-files__icon icon icon-document" role="presentation"></i>
                                    <div class="list-files__data">
                                        <div class="list-files__filename">
                                            <strong class="list-files__title break-all"><a href="#">Verzoek terugbetaling lesgeld 2016-2017</a></strong>
                                            <span class="meta">PDF, 113kB</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-files__file">
                                    <i class="list-files__icon icon icon-document" role="presentation"></i>

                                    <div class="list-files__data">
                                        <div class="list-files__filename">
                                            <strong class="list-files__title break-all"><a href="#">Medische informatie bij verzoek terugbetaling lesgeld 2016-2017</a></strong>
                                            <span class="meta">PDF, 97KB</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </section>

                <h3>Hoeveel krijg je terug?</h3>
                <p>Hoeveel je terugkrijgt, hangt af van je uitschrijfdatum bij de school. In de tabel staat hoeveel je terugkrijgt als je het lesgeld al volledig betaald hebt.</p>

                <table class="table table--striped">
                    <thead>
                        <tr>
                            <th scope="col">Uitgeschreven in</th>
                            <th scope="col">Teruggave 2016-2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Augustus</td><td>€ 1.137,00</td>
                        </tr>
                        <tr>
                            <td>September</td><td>€ 1.137,00</td>
                        </tr>
                        <tr>
                            <td>Oktober</td><td>€ 852,75</td>
                        </tr>
                        <tr>
                            <td>November</td><td>€ 758,00</td>
                        </tr>
                        <tr>
                            <td>December</td><td>€ 663,25</td>
                        </tr>
                        <tr>
                            <td>Januari</td><td>€ 568,50</td>
                        </tr>
                        <tr>
                            <td>Februari</td><td>€ 437,60</td>
                        </tr>
                        <tr>
                            <td>Maart</td><td>€ 379,00</td>
                        </tr>
                        <tr>
                            <td>April</td><td>€ 284,25</td>
                        </tr>
                        <tr>
                            <td>Mei</td><td>€ 0,00</td>
                        </tr>
                        <tr>
                            <td>Juni</td><td>€ 0,00</td>
                        </tr>
                        <tr>
                            <td>Juli</td><td>€ 0,00</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Wanneer wordt het terugbetaald?</h3>
                <p>Heb je van ons bericht gehad dat je lesgeld terugkrijgt? Dan maken we het geld binnen 8 weken na dat bericht over. We storten het bedrag terug op de rekening waar de betaling vandaan kwam.</p>

                <div class="prev-next">
                    <a href="#fakelink" onclick="return false;" class="prev-next__prev">
                        <span class="prev-next__meta">VORIGE</span>
                        <span class="prev-next__text">1. Wat moet je doen</span>
                    </a>
                    <a href="#fakelink" onclick="return false;" class="prev-next__next">
                        <span class="prev-next__meta">VOLGENDE</span>
                        <span class="prev-next__text">3. Hoe het werkt</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>