---
title: landing-page
fulltitle: Voortgezet onderwijs
permalink: templates/landing-page/
styles: [
    'uno/components/list/list-timeline.css',
    'uno/components/list/list-subject.css',
    'uno/components/label/label.css'
]
---

<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background background--hemelblauw">

            <div class="content">
                <ul class="list list--links list--chevrons columns">
                    <li><a href="#">Toetsen met Facet</a></li>
                    <li><a href="#">Examenloket</a></li>
                    <li><a href="#">Uitwisselen met BRON</a></li>
                    <li><a href="#">Examenresultaten uitwisselen</a></li>
                    <li><a href="#">Jaarstukken indienen</a></li>
                </ul>
                <p><a href="#">Alle onderwerpen</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <h2>Nu belangrijk</h2>
                <p>Hieronder ziet u op welke datums u gegevens moet aanleveren aan DUO, of wanneer er gegevens van DUO beschikbaar zijn.</p>

                <section>
                    <ol class="list list--timeline">
                        <li class="list__item"><p><strong><time>1 juni</time></strong><br>
                        DUO stelt mutatiestop in</p></li>
                        <li class="list__item"><p><strong><time>16 juni</time></strong><br>
                        Normering 1e tijdvak bekend</p></li>
                        <li class="list__item"><p><strong><time>20 juni</time></strong> <span class="label label--donkergeel">DEADLINE</span><br>
                        Aanmelden kandidaten 2e tijdvak</p></li>
                        <li class="list__item"><p><strong><time>22 juni</time></strong> <span class="label label--donkergeel">DEADLINE</span><br>
                        Betaaldatum bekostiging</p></li>
                        <li class="list__item"><p><strong><time>30 juni</time></strong><br>
                        CE-resultaten 1e tijdvak</p></li>
                    </ol>
                </section>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <ul class="list list--subjects columns">
                    <li><a href="#" class="list__link">Leerlingenadministratie</a>
                        <p >Aanmelden voor BRON, leerlinggegevens controleren en fotomomenten.</p></li>

                    <li><a href="#" class="list__link">Bekostiging en subsidies</a>
                        <p>Reguliere bekostiging, extra bekostiging aanvragen, subsidies aanvragen.</p></li>

                    <li><a href="#" class="list__link">Verantwoording</a>
                        <p>Jaarstukken indienen, assurance-rapport en XBRL in het onderwijs.</p></li>

                    <li><a href="#" class="list__link">Verzuim</a>
                        <p>Verzuimloket gebruiken, verzuim doorgeven en maandrapportages bekijken.</p></li>

                    <li><a href="#" class="list__link">Examens en diploma's</a>
                        <p>Diplomaregister, toetsen met Facet en examenloket.</p></li>

                    <li><a href="#" class="list__link">Personeel</a>
                        <p>Ontheffing vakbekwaamheidseisen aanvragen en handboek onderwijsbevoegdheden.</p></li>

                    <li><a href="#" class="list__link">Stichten en opheffen</a>
                        <p>Alles over het oprichten, fuseren of opheffen van een school.</p></li>

                    <li><a href="#" class="list__link">Onderwijsvernieuwing</a>
                        <p>Experimenten om onderwijs te verbeteren.</p></li>

                    <li><a href="#" class="list__link">Niet-bekostigd onderwijs</a>
                        <p>Gebruik van BRON, administratie met 2BRON.</p></li>

                    <li><a href="#" class="list__link">Softwareleveranciers</a>
                        <p>Programma van eisen en andere informatie voor softwareleveranciers.</p></li>

                    <li><a href="#" class="list__link">Wet- en regelgeving</a>
                        <p>Alle wetten, besluiten en regelingen die DUO uitvoert voor het onderwijsveld.</p></li>

                    <li><a href="#" class="list__link">Feedback</a>
                        <p>Help onze dienstverlening verbeteren.</p></li>
                </ul>


            </div>
        </div>
    </div>
</div>