---
title: Nieuwsbericht
fulltitle: Terugmeldingen 2e voorlopige foto 2015 mbo vavo beschikbaar
permalink: templates/news-item/
newsdate: 2016-05-09
tags: [
    'leerlingenadministratie'
]
intro: De terugmelding bekostigingsgrondslagen en de individuele terugmelding mbo en vavo van de tweede voorlopige foto van 1 oktober 2015 zij geplaatst.
styles: [
    'uno/components/meta/meta.css',
    'uno/components/form/form.css',
    'uno/components/button/button.css',
    'uno/components/collapse/collapse.css',
]
---
<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <p>De Terugmelding bekostigingsgrondslagen staan bij
                    Bekostigingsinformatie op <a rel="external"
                            href="https://instellingsinformatie.duo.nl/public/websitecfi/">Instellingsinformatie</a>.</p>
                <p>Van 29 april tot en met 29 mei 2016 zijn de
                    terugmeldingsoverzichten en de daarbij behorende
                    inleesbestanden met de terugmeldingen op individueel niveau
                    beschikbaar. U vindt deze bestanden in&nbsp;'Terugmeldingsoverzicht
                    actueel' onder ‘Onderwijsnummer bestanden mbo’, als u inlogt
                    via
                    <a href="https://www.duo.nl/zakelijk/middelbaar-beroepsonderwijs/inloggen/">Inloggen
                        Entree</a>. Daar treft u ook de algemene toelichting en
                    de technische toelichting aan voor deze bestanden.</p>
                <p>De bestanden betreffen de voorlopige aantallen
                    inschrijvingen, diploma’s en examens mbo en vavo die voor
                    bekostiging in aanmerking komen voor het bekostigingsjaar
                    2017.</p>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <h2>Gerelateerde nieuwsberichten</h2>
                <ul class="list list--links list--chevrons">
                    <li><a href="#">Conferentie doorontwikkeling BRON</a></li>
                    <li><a href="#">Toetsen met Facet</a></li>
                    <li><a href="#">Werken met het diplomaregister</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">

        <div class="content">
            <p class="dimmed">Laatste update was op 28 januari 2016</p>
            <p><a href="#">Abonneren op nieuwsberichten</a></p>
            <div class="collapse">

                <div x-uno-collapse class="collapse__header" id="feedback-collapse">
                    <i class="collapse__indicator"></i>
                    <span class="collapse__title">Niet gevonden wat u zocht?</span>
                </div>
                <div class="collapse__details">
                    <h2>Help ons deze website verbeteren</h2>

                    <form>
                        <div class="input">
                            <label class="input__label" for="reason_visit">Waarom bezoekt u vandaag onze website?</label>
                            <textarea class="input__control input__control--text" id="reason_visit"></textarea>
                        </div>

                        <div class="input">
                            <label class="input__label" for="what_did_you_expect">Wat had u op deze pagina verwacht?</label>
                            <textarea class="input__control input__control--text" id="what_did_you_expect"></textarea>
                        </div>

                        <div class="input">
                            <button class="btn btn--primary">Verzenden <i class="icon icon-arr-forward"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    /* Load collapse component */
    System.import('../../uno/components/collapse/collapse.js').then(function (module) {
        var collapse = new module.Collapse(document.getElementById('feedback-collapse'));
    });
</script>