
---
layout: page
title: White label
permalink: templates/white-label/
styles: [
    'uno/components/button/button.css'
]
---

<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">
            <div class="content">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt ullamcorper turpis, sit amet eleifend felis rhoncus et. Nunc nulla est, cursus ac ipsum vel, varius luctus neque. Nunc faucibus nisi et tortor commodo tempor. Quisque lorem magna, porttitor sit amet augue at, elementum feugiat mi. Suspendisse convallis nulla ac eleifend pharetra. In hendrerit nisi at ligula scelerisque suscipit. Morbi blandit odio et nunc finibus, eget ornare nisl vehicula. In quis magna orci. Aliquam rutrum venenatis libero. Mauris ac mi vehicula, pretium tellus eget, luctus leo.
                </p>
                <button class="btn">Secundair</button>
                <button class="btn" disabled="disabled">Disabled</button>
                <button class="btn btn--primary"><span class="btn__content">Primair</button>
            </div>
        </div>
    </div>
</div>
