$button-background:#c8cacc;
$button-background--hover: #8f8e8b;
$button-background--disabled: #e0e0dd;

$button-color: #2b2b2b;
$button-color--hover: #2b2b2b;
$button-color--disabled: #808080;

$button-text-transform: none;

$button-font-weight: 400;

$button-padding: 1rem 2rem;

$button-border-radius: 0;

$button-border-right: none;
$button-border-left: none;
$button-border-top: none;
$button-border-bottom: 0.3rem solid rgba(43, 43, 43, 0.25);

$button-color--primary: rgb(255, 255, 255);
$button-color--primary--disabled: rgb(255, 255, 255);

$button-background--primary: #3c861b;
$button-background--primary--hover: #2a5d11;
$button-background--primary--disabled: #89b670;

$button-border-right--primary: $button-border-right;
$button-border-left--primary: $button-border-left;
$button-border-top--primary: $button-border-top;
$button-border-bottom--primary: $button-border-bottom;

$button-border-right--primary-hover: $button-border-right;
$button-border-left--primary-hover: $button-border-left;
$button-border-top--primary-hover: $button-border-top;
$button-border-bottom--primary-hover: $button-border-bottom;
